@let lot = lotItem();
<div class="app-form-check">
  <input
    type="checkbox"
    [ngModel]="lot.check"
    (ngModelChange)="onCheck($event)"
    [name]="'check' + lot.goodCode + lot.expiDate + lot.lotNumber"
    [id]="'check' + lot.goodCode + lot.expiDate + lot.lotNumber"
  />
  <label [htmlFor]="'check' + lot.goodCode + lot.expiDate + lot.lotNumber">{{
    lot.lotNumber ?? "ไม่ระบุ lot"
  }}</label>
</div>
@if (lot.check) {
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label
      class="col-form-label"
      [htmlFor]="'amount' + lot.goodCode + lot.expiDate + lot.lotNumber"
      >ระบุจำนวน</label
    >
  </div>
  <div class="col-auto">
    <input
      style="width: 180px"
      [className]="invalidClass()"
      type="number"
      [id]="'amount' + lot.goodCode + lot.expiDate + lot.lotNumber"
      name="amount"
      [ngModel]="lot.returnAmou"
      (ngModelChange)="onChange($event)"
      (input)="handleInput($event)"
      min="1"
    />
  </div>
</div>
}
