<div class="row">
  <h2 class="col">รายละเอียดประตู</h2>
  <div class="col-auto">
    <a routerLink="./edit" class="btn btn-squre btn-warning">
      <i class="bi bi-pen"></i>
    </a>
  </div>
</div>
<div
  style="
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
  "
>
  @let info = doorInfo(); @if(info){
  <div>
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="doorname">ชื่อประตู</label>
          <input
            type="text"
            name="doorname"
            id="doorname"
            [ngModel]="info.doorname"
            disabled
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="timeUse">ระยะเวลา (ต่อรอบ)</label>
          <input
            type="number"
            step="5"
            min="0"
            id="timeUse"
            name="timeUse"
            [ngModel]="info.timeUse"
            disabled
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="minBox">จำนวนขั้นต่ำ (ลัง) </label>
          <input
            type="number"
            name="minBox"
            id="minBox"
            [ngModel]="info.minBox"
            disabled
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="maxBox">จำนวนสูงสุด (ลัง)</label>
          <input
            type="number"
            id="maxBox"
            name="maxBox"
            [ngModel]="info.maxBox"
            disabled
          />
        </div>
      </div>
    </div>
    <div class="app-form-field">
      <label for="note">หมายเหตุ</label>
      <textarea name="note" id="note" [ngModel]="info.note"></textarea>
    </div>
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="intendant">ชื่อผู้ดูแล</label>
          <input
            type="text"
            name="intendant"
            id="intendant"
            disabled
            [ngModel]="info.intendant"
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="mail">E mail ผู้ดูแล</label>
          <input
            type="email"
            name="mail"
            id="mail"
            [ngModel]="info.mail"
            disabled
          />
        </div>
      </div>
      <div>
        <label class="mb-2">เลือกจำนวนการจอง</label>
        <div>
          <div class="app-form-check">
            <input
              type="radio"
              id="single-reserve"
              [value]="false"
              [ngModel]="info.multiple"
              disabled
            />
            <label for="single-reserve">จองได้ 1 ช่วงเวลา</label>
          </div>
          <div class="app-form-check">
            <input
              type="radio"
              id="multiple-reserve"
              [value]="true"
              [ngModel]="info.multiple"
              disabled
            />
            <label for="multiple-reserve">จองหลายช่วงเวลา</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #f5f5f5;
      padding: 16px;
      margin-bottom: 16px;
    "
  >
    @for (k of dayKey; let i = $index;track i) {
    <div>
      @let cur = getSlot(k);
      <!---->
      @if (cur.length === 0) {
      <div class="row">
        <div class="col-auto" style="width: 120px">{{ getDayOfWeek(k) }}</div>
        <div class="col">
          <input
            type="text"
            [attr.name]="k + '-empty'"
            [attr.id]="k + '-empty'"
            disabled
            class="form-control"
            placeholder="ไม่สามารถจองได้"
          />
        </div>
      </div>
      } @else {
      <!---->
      <div class="row">
        @for (d of cur;let j = $index; track j) {
        <div class="row align-items-center mb-3">
          <div class="col-auto" style="flex: 0 0 120px">
            {{ j === 0 ? getDayOfWeek(k) : "" }}
          </div>
          <div class="col">
            <ngb-timepicker
              [spinners]="false"
              [ngModel]="d.form"
              disabled
            ></ngb-timepicker>
          </div>
          <div class="col-auto">ถึง</div>
          <div class="col">
            <ngb-timepicker
              [spinners]="false"
              [ngModel]="d.to"
              disabled
            ></ngb-timepicker>
          </div>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
  <div style="display: flex; gap: 16px">
    <a
      routerLink="../"
      class="btn btn-outline-danger"
      style="flex: 1 1 auto"
      role="button"
      >ย้อนกลับ</a
    >
    <!-- <button
      [disabled]="headForm.invalid"
      class="btn btn-success"
      (click)="submitForm()"
      style="flex: 1 1 auto"
    >
      บันทึก
    </button> -->
  </div>
</div>
