<div class="mb-3 uploader">
  <div>
    <input
      [disabled]="disabled()"
      #fileInput
      id="fileInput"
      name="fileInput"
      type="file"
      style="display: none"
      (change)="onSelectFile($event)"
    />
    <label for="fileInput" class="me-3">แนบรูปภาพ</label>

    <button
      (click)="fileInput.click()"
      class="btn btn-outline-dark me-3"
      [disabled]="cannotUpload()"
    >
      <i class="bi bi-cloud-upload"></i>
    </button>

    <!---->
  </div>
  @let lst = value();
  <!---->
  @if (lst.length !== 0) {
    <!--  -->
    <div class="preview-container">
      @for (link of lst; track $index) {
        <div class="img-wrapper">
          <img [src]="link" alt="receipt" />

          <button
            (click)="removeImage(link)"
            class="btn btn-close rounded-circle"
          ></button>
        </div>
      }
    </div>
  }
</div>
