@if (alterText()) {
  <div class="row">
    <span style="font-size: 3rem; color: red">{{ alterText() }}</span>
    <a class="btn btn-danger" routerLink="..">ย้อนกลับ</a>
  </div>
} @else {
  <h1 class="text-center">CN สินค้าทั้งบิล</h1>
  <h2>{{ alterText() }}</h2>
  <div class="mb-3">รวมเป็นเงิน {{ totalprice() | number: "1.2-2" }} บาท</div>
  <app-uploader />
  <div class="btn-wrapper">
    <a routerLink=".." class="btn btn-outline-danger">ย้อนกลับ</a>
    <button
      class="btn btn-primary"
      [disabled]="disable()"
      (click)="handleSubmit()"
    >
      ยืนยัน
    </button>
  </div>
}
