<div class="row mb-3">
  <div class="col">
    <app-search-picker
      inputId="search-goodname"
      label="ชื่อสินค้า"
      [items]="validProduct()"
      [searchBy]="goodName"
      [format]="formatProduct"
      [limit]="10"
      [debounce]="300"
      [disabled]="disabled()"
      (picked)="onSelectProduct($event)"
    />
  </div>
  <div class="col">
    <app-search-picker
      inputId="search-barcode"
      label="บาร์โค้ด 6 หลัก"
      [items]="validProduct()"
      [searchBy]="sku"
      [format]="formatProduct"
      [limit]="10"
      [debounce]="300"
      [disabled]="disabled()"
      (picked)="onSelectProduct($event)"
    />
  </div>
  <div class="col">
    <app-search-picker
      inputId="search-promotion-product"
      label="ชื่อกลุ่มสินค้า"
      [items]="promotionProductGroup()"
      [searchBy]="groupName"
      [format]="groupName"
      [debounce]="300"
      [disabled]="disabled()"
      (picked)="onSelectpromoitionproductGroup($event)"
    />
  </div>
</div>
