<div class="row mb-3">
  <div class="col">
    <div>
      <label
        class="form-label fw-semibold text-muted small mb-1"
        for="search-goodname"
        >ชื่อสินค้า</label
      >
      <input
        [disabled]="disabled()"
        id="search-goodname"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="onSearchName"
        [inputFormatter]="formatGoodName"
        [resultFormatter]="formatProduct"
        (selectItem)="onSelectProduct($event)"
        [editable]="false"
      />
    </div>
  </div>
  <div class="col">
    <div>
      <label
        for="search-barcode"
        class="form-label fw-semibold text-muted small mb-1"
        >บาร์โค้ด 6 หลัก</label
      >
      <input
        [disabled]="disabled()"
        id="search-barcode"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="onSearchSku"
        [inputFormatter]="formatGoodName"
        [resultFormatter]="formatProduct"
        (selectItem)="onSelectProduct($event)"
        [editable]="false"
      />
    </div>
  </div>
  <div class="col">
    <div>
      <label
        for="search-promotion-product"
        class="form-label fw-semibold text-muted small mb-1"
        >ชื่อกลุ่มสินค้า</label
      >
      <input
        [disabled]="disabled()"
        id="search-promotion-product"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="searchPromotionProductGroup"
        [inputFormatter]="g => g.name"
        [resultFormatter]="g => g.name"
        (selectItem)="onSelectpromoitionproductGroup($event)"
        [editable]="false"
      />
    </div>
  </div>
</div>
