:host {
  width: fit-content;
  aspect-ratio: 1;
}
.prochure-card {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  &.res {
    max-width: calc(var(--a4-width-150) / 3);
  }

  &.static {
    max-width: 55mm;
    font-size: 8px;

    @media (min-width: 1024px) {
      max-width: 110mm;
      font-size: 16px;
      border-radius: 16px;
    }
  }

  .card-header {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;

    .text-header {
      color: #fff;

      &.static-round-large.static-p-large {
        font-size: 9px;
        @media (min-width: 1024px) {
          font-size: 18px;
        }
      }
    }

    .subtext.static {
      font-size: 7px;
      margin-bottom: 4px;

      @media (min-width: 1024px) {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }
  }
  .card-flag {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    border: none;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(236, 26, 35, 1) 50%
    );
  }

  .card-image {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .card-body {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;

    .tier .tier-price {
      display: flex;
      justify-content: space-between;

      &.static-px-small {
        font-size: 6px;

        @media (min-width: 1024px) {
          font-size: 12px;
        }
      }

      @media (min-width: 1400px) {
        font-size: 16px;
      }
    }

    .price {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--color-yellow);
      color: var(--color-red);
    }
  }
}

.res-mb-small {
  margin-bottom: 2px;
  @media (min-width: 570px) {
    margin-bottom: 2px;
  }
  @media (min-width: 768px) {
    margin-bottom: 4px;
  }
  @media (min-width: 992px) {
    margin-bottom: 6px;
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

.res-round {
  border-radius: 4px;
  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    border-radius: 8px;
  }
  @media (min-width: 992px) {
    border-radius: 16px;
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

.res-round-large {
  border-radius: 4px;

  @media (min-width: 768px) {
    border-radius: 8px;
  }

  @media (min-width: 1200px) {
    border-radius: 10px;
  }
}

.res-p {
  padding: 2px;
  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    padding: 4px;
  }
  @media (min-width: 992px) {
    padding: 16px;
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  }
}

.res-p-large {
  padding: 4px;
  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    padding: 8px;
  }

  @media (min-width: 992px) {
    padding: 12px;
  }
  @media (min-width: 1200px) {
    padding: 16px;
  }
  @media (min-width: 1400px) {
  }
}

.res-grid-gap {
  row-gap: 2px;
  column-gap: 2px;
  @media (min-width: 768px) {
    row-gap: 4px;
    column-gap: 4px;
  }
  @media (min-width: 992px) {
    row-gap: 8px;
    column-gap: 8px;
  }
  @media (min-width: 1200px) {
    row-gap: 16px;
    column-gap: 16px;
  }
}

.res-px-small {
  padding: 0 1px;

  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    padding: 0 2px;
  }
  @media (min-width: 992px) {
    padding: 0 6px;
  }
  @media (min-width: 1200px) {
    padding: 0 12px;
  }
  @media (min-width: 1400px) {
  }
}

.res-text {
  font-size: 6px;
  line-height: 1.1;
  @media (min-width: 475px) {
    font-size: 8px;
  }
  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    font-size: 10px;
  }
  @media (min-width: 992px) {
    font-size: 12px;
    line-height: normal;
  }
  @media (min-width: 1200px) {
    font-size: 12px;
  }
  @media (min-width: 1400px) {
  }
}

.res-price-text {
  &.text-center {
    font-weight: 700;
    font-size: 12px;
    @media (min-width: 570) {
      font-size: 18px;
    }
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  @media (min-width: 475px) {
    font-size: 10px;
  }
  @media (min-width: 570px) {
  }
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 992px) {
    font-size: 12px;
  }
  @media (min-width: 1200px) {
    font-size: 14px;
  }
  @media (min-width: 1400px) {
    font-size: 16px;
  }
}

.tier-label {
  font-weight: 700;
  text-transform: capitalize;
  &.static {
    font-size: 8px;
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
  &.res {
    @media (min-width: 475px) {
      font-size: 10px;
    }
    @media (min-width: 570px) {
    }
    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 992px) {
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
    @media (min-width: 1400px) {
      font-size: 18px;
    }
  }
}

.static-price-text {
  font-size: 9px;

  &.text-center {
    font-weight: 700;
    font-size: 18px;
    @media (min-width: 1024px) {
      font-size: 36px;
    }
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.static-round {
  border-radius: 8px;
  @media (min-width: 1024px) {
    border-radius: 16px;
  }
}

.static-p {
  padding: 8px;

  @media (min-width: 1024px) {
    padding: 16px;
  }
}

.static-text {
  font-size: 12px;

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.static-grid-gap {
  row-gap: 4px;
  column-gap: 4px;

  @media (min-width: 1024px) {
    row-gap: 8px;
    column-gap: 8px;
  }
}

.static-round-large {
  border-radius: 4px;

  @media (min-width: 1024px) {
    border-radius: 8px;
  }
}

.static-p-large {
  padding: 8px;

  @media (min-width: 1024px) {
    padding: 16px;
  }
}

.static-px-small {
  padding: 0 4px;

  @media (min-width: 1024px) {
    padding: 0 8px;
  }
}

img {
  &.img-static {
    max-width: 130px;
    max-height: 130px;

    @media (min-width: 992px) {
      max-width: 260px;
      max-height: 260px;
    }
  }

  &.img-res {
    max-width: 60px;
    max-height: 60px;

    @media (min-width: 570px) {
      max-width: 90px;
      max-height: 90px;
    }

    @media (min-width: 768px) {
      max-width: 130px;
      max-height: 130px;
    }

    @media (min-width: 992px) {
      max-width: 170px;
      max-height: 170px;
    }

    @media (min-width: 1200px) {
      max-width: 200px;
      max-height: 200px;
    }

    @media (min-width: 1400) {
    }
  }
}

.card-purple {
  background-color: var(--brand-purple-primary);
}

.card-green {
  background-color: var(--brand-green-primary);
}

.background-standard {
  background: rgb(133, 27, 237);
  background: linear-gradient(
    90deg,
    rgba(133, 27, 237, 1) 0%,
    rgba(245, 242, 255, 1) 35%,
    rgba(223, 210, 255, 1) 42%,
    rgba(133, 27, 237, 1) 67%,
    rgba(153, 75, 255, 1) 81%
  );
}

.background-silver {
  background: rgb(136, 136, 136);
  background: linear-gradient(
    90deg,
    rgba(136, 136, 136, 1) 17%,
    rgba(153, 153, 153, 1) 41%,
    rgba(223, 223, 223, 1) 58%,
    rgba(247, 247, 247, 1) 69%,
    rgba(165, 165, 165, 1) 86%
  );
}

.background-gold {
  background: rgb(189, 129, 36);
  background: linear-gradient(
    90deg,
    rgba(189, 129, 36, 1) 7%,
    rgba(251, 248, 235, 1) 35%,
    rgba(238, 216, 154, 1) 42%,
    rgba(140, 77, 28, 1) 66%,
    rgba(189, 129, 36, 1) 81%
  );
}
