.shop-name {
  color: var(--brand-purple-500);
}

.content-wrapper {
  max-width: var(--a4-width-150);
  overflow: hidden;
  scrollbar-width: thin;
  margin: 0 auto;
}

.not-show {
  position: fixed;
  translate: (0 100%);
  width: 210mm;
}

.pagination {
  overflow-x: scroll;
  scrollbar-width: thin;
}

.action {
  gap: 16px;
  .btn {
    flex: 1 1 auto;
  }
}
