<section class="layout">
  <div class="row mb-3">
    <!-- search product ; to do compName vs compCode-->
    <div class="col-md">
      <div class="bg-lightgray p-3">
        <div class="row align-items-center px-3">
          <button class="btn btn-warning" (click)="openSearchSupplier()">
            ค้นหาซัพพลายเออร์
          </button>
        </div>
        @if (!notSelectComp()) {

        <div class="row pt-3">
          <div class="col">
            <label for="comp-name-input" class="col-form-label"
              >ชื่อบริษัท</label
            >
          </div>
          <div class="col">
            <input
              id="comp-name-input"
              name="comp name"
              type="text"
              disabled
              [ngModel]="compName()"
              class="form-control"
            />
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <label for="comp-code-input" class="col-form-label"
              >รหัสบริษัท</label
            >
          </div>
          <div class="col">
            <input
              type="text"
              name="comp code"
              id="comp-code-input"
              class="form-control"
              [ngModel]="compCode()"
              disabled
            />
          </div>
        </div>

        }
      </div>
    </div>
    <!-- seach good ; to do on select comp behavior-->
    <div class="col-md">
      <div class="bg-lightgray p-3">
        <div class="row align-items-center px-3">
          <button
            class="btn btn-warning"
            (click)="openSearchProduct()"
            [disabled]="notSelectComp()"
          >
            ค้นหาสินค้า
          </button>
        </div>
        @let products = productList();
        <!---->
        @if (products.length !== 0) {
        <ul class="mt-3">
          @for (product of products; track product.id) {
          <li class="row" style="list-style: none">
            <div class="col-1">
              <div class="app-form-check">
                <input
                  type="checkbox"
                  [ngModel]="product.check"
                  (ngModelChange)="onRemoveProduct(product.id)"
                />
              </div>
            </div>
            <div class="col">{{ product.name }}</div>
          </li>
          }
        </ul>
        }
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">VAT</div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="vat"
          id="include"
          [value]="true"
          [(ngModel)]="incVat"
        />
        <label for="include">รวม vat</label>
      </div>
    </div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="vat"
          id="exclude"
          [value]="false"
          [(ngModel)]="incVat"
        />
        <label for="exclude">ไม่รวม vat</label>
      </div>
    </div>
  </div>
  <!-- limit subform -->
  <!-- <app-limit-subform [(limit)]="limit" [(limitAmount)]="limitAmount" />
  <div class="d-flex justify-content-center" style="gap: 1rem">
    <button class="btn btn-success">
      <i class="bi bi-floppy"></i>
      <span> บันทึก </span>
    </button>
    <a routerLink="/other-income/purchase" class="btn btn-outline-danger"
      >ย้อนกลับ</a
    >
  </div>
</section>
<ng-template #searchProductModal let-modal>
  <app-search-product-modal
    (selectProduct)="onSelectProduct($event)"
    (close)="modal.dismiss('Cross click')"
  />
</ng-template>
<ng-template #searchSupplierModal let-modal>
  <app-other-search-supplier-modal
    (selectComp)="selectComp($event)"
    (close)="modal.dismiss('Cross click')"
  />
</ng-template> -->
</section>
