<form [formGroup]="stepThree">
  <div class="app-form-field">
    <label for="supplier">กลุ่มผู้ขาย</label>
    <input
      type="text"
      id="supplier"
      name="supplier"
      formControlName="supplier"
    />
  </div>
  <div class="row align-items-end">
    <div class="app-form-field col-4 col-md-2">
      <label for="compCode">สังกัดบริษัท</label>
      <input
        type="text"
        name="compCode"
        id="compCode"
        readonly
        (click)="searchBtn.click()"
      />
    </div>
    <div class="app-form-field col-6 col-md-4">
      <label for="comp"></label>
      <input
        type="text"
        name="comp"
        id="comp"
        readonly
        (click)="searchBtn.click()"
      />
    </div>
    <div class="col-2 col-md mb-3">
      <button
        class="btn btn-outline"
        #searchBtn
        (click)="openModal(searchModal)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="app-form-field">
    <label for="orderRemark">หมายเหตุ</label>
    <textarea
      name="orderRemark"
      id="orderRemark"
      rows="3"
      formControlName="orderRemark"
    ></textarea>
  </div>

  <!-- @let emplListForm = stepThree.controls.emplList.controls;
  @for (item of emplListForm; track $index) {
  <div class="row align-items-end">
    <div class="col app-form-field">
      <label [attr.for]="'empl-name' + $index">ชื่อพนักงาน</label>
      <input
        type="text"
        name="empl-name"
        [attr.id]="'empl-name' + $index"
        [formControl]="item.controls.emplName"
      />
    </div>
    <div class="col app-form-field">
      <label [attr.for]="'empl-email' + $index">E-mail</label>
      <input
        type="email"
        name="empl-email"
        [attr.id]="'empl-email' + $index"
        [formControl]="item.controls.emplEmail"
      />
    </div>

    <div class="col-2 d-flex justify-content-between mb-3">
      @if(emplListForm.length !== 1) {
      <button class="btn btn-squre btn-danger" (click)="removeEmpl($index)">
        <i class="bi bi-dash"></i>
      </button>
      }
      @if ($index === emplListForm.length-1) {
      <button class="btn btn-squre btn-success" (click)="addEmpl()">
        <i class="bi bi-plus"></i>
      </button>
      }
    </div>
  </div>
  } -->
  <div class="app-form-field">
    <label for="shipTo">Ship to</label>
    <input type="text" id="shipTo" name="shipTo" formControlName="shipTo" />
  </div>
  <div class="mb-3" style="display: flex; gap: 16px">
    <form
      class="px-3 pt-3 col"
      style="background-color: #8080801f"
      formGroupName="payment"
    >
      <div class="app-form-field">
        <label for="paymentTerms">กำหนดชำระ (ระบุจำนวนวัน)</label>
        <input
          type="number"
          name="paymentTerms"
          id="paymentTerms"
          formControlName="paymentTerms"
          placeholder="ระบุจำนวนวัน"
        />
      </div>
      <div class="app-form-field">
        <label for="tradePerDisc">ส่วนลดการค้า %</label>
        <input
          type="number"
          min="0"
          max="100"
          id="tradePerDisc"
          name="tradePerDisc"
          formControlName="tradePerDisc"
        />
      </div>
      <div class="app-form-field">
        <label for="cashPerDisc">ส่วนลดเงินสด %</label>
        <input
          type="number"
          id="cashPerDisc"
          name="cashPerDisc"
          formControlName="cashPerDisc"
        />
      </div>
      <div class="app-form-field">
        <label for="dcPerDisc">ส่วนลดdc %</label>
        <input
          type="number"
          id="dcPerDisc"
          name="dcPerDisc"
          formControlName="dcPerDisc"
        />
      </div>
    </form>
    <form
      class="px-3 pt-3 col"
      style="background-color: #8080801f"
      formGroupName="tax"
    >
      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat1"
          name="tax1"
          style="height: 24px; width: 24px"
          formControlName="tax1"
        />
        <label for="vat1">จดทะเบียน VAT</label>
      </div>
      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat2"
          name="tax2"
          style="height: 24px; width: 24px"
          formControlName="tax2"
        />
        <label for="vat2">สินค้ารวม VAT</label>
      </div>
      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat3"
          name="tax3"
          style="height: 24px; width: 24px"
          formControlName="tax3"
        />
        <label for="vat3">ควบคุมราคาขายปลีก</label>
      </div>
    </form>
  </div>
</form>

<ng-template #searchModal let-modal>
  <app-modal-layout
    title="ค้นหาซัพพลายเออร์"
    (crossClick)="modal.dismiss('Cross click')"
  >
    <div modalBody>
      <app-search-supplier />
    </div>
    <div modalFooter>
      <button class="btn btn-secondary" (click)="modal.close('Close modal')">
        Close
      </button>
    </div>
  </app-modal-layout>
</ng-template>
