<div>
  @let data = formState();
  <div class="app-form-field">
    <div class="app-form-select">
      <label for="groupCode">กลุ่มผู้ขาย</label>
      <select
        id="groupCode"
        name="groupCode"
        [ngModel]="data.compGroupCode"
        (ngModelChange)="updator('compGroupCode')($event)"
        [disabled]="readonly()"
      >
        <option value="" disabled>กรุณาเลือก</option>
        @for (group of compGroup(); track group.compGroupCode) {
        <option [ngValue]="group.compGroupCode">
          {{ group.compGroupDesc }}
        </option>
        }
      </select>
    </div>
  </div>
  <div class="row align-items-end mb-3">
    <form class="col-10 row align-items-end" formGroupName="parentComp">
      <div class="app-form-field col">
        <label for="compCode">สังกัดบริษัท</label>
        <input
          type="text"
          name="compCode"
          id="compCode"
          [ngModel]="data.parentCompCode"
          readonly
          (click)="searchBtn.click()"
          [disabled]="readonly()"
        />
      </div>
      <div class="app-form-field col">
        <label for="comp"></label>
        <input
          type="text"
          name="comp"
          id="comp"
          [ngModel]="data.parentCompName"
          readonly
          [disabled]="readonly()"
        />
      </div>
    </form>
    <div class="col-1 mb-3">
      <button
        class="btn btn-outline"
        #searchBtn
        [disabled]="readonly()"
        (click)="openModal(searchModal)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="col-1 mb-3">
      <button
        class="btn btn-danger"
        [disabled]="readonly()"
        (click)="clearParent()"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
  <div class="app-form-field">
    <label for="orderRemark">หมายเหตุ</label>
    <textarea
      name="orderRemark"
      id="orderRemark"
      rows="3"
      [ngModel]="data.orderRemark"
      (ngModelChange)="updator('orderRemark')($event)"
      [readOnly]="readonly()"
    ></textarea>
  </div>
  <div class="app-form-field">
    <label for="shipTo">Ship to</label>
    <input
      type="text"
      id="shipTo"
      name="shipTo"
      [ngModel]="data.shipTo"
      (ngModelChange)="updator('shipTo')($event)"
      [readOnly]="readonly()"
    />
  </div>
  <div class="mb-3" style="display: flex; gap: 16px">
    <div class="px-3 pt-3 col" style="background-color: #8080801f">
      <div class="app-form-field">
        <label for="paymentTerms">กำหนดชำระ (ระบุจำนวนวัน)</label>
        <input
          type="number"
          name="paymentTerms"
          id="paymentTerms"
          [ngModel]="data.paymentTerms"
          (ngModelChange)="updator('paymentTerms')($event)"
          placeholder="ระบุจำนวนวัน"
          [readOnly]="readonly()"
        />
      </div>
      <div class="app-form-field">
        <label for="tradePerDisc">ส่วนลดการค้า %</label>
        <input
          type="number"
          min="0"
          max="100"
          id="tradePerDisc"
          name="tradePerDisc"
          [ngModel]="data.tradePerDisc"
          (ngModelChange)="updator('tradePerDisc')($event)"
          [readOnly]="readonly()"
        />
      </div>
      <div class="app-form-field">
        <label for="cashPerDisc">ส่วนลดเงินสด %</label>
        <input
          type="number"
          id="cashPerDisc"
          name="cashPerDisc"
          [ngModel]="data.cashPerDisc"
          (ngModelChange)="updator('cashPerDisc')($event)"
          [readOnly]="readonly()"
        />
      </div>
      <div class="app-form-field">
        <label for="dcPerDisc">ส่วนลดdc %</label>
        <input
          type="number"
          id="dcPerDisc"
          name="dcPerDisc"
          [ngModel]="data.dcPerDisc"
          (ngModelChange)="updator('dcPerDisc')($event)"
          [readOnly]="readonly()"
        />
      </div>
    </div>
    <div
      class="px-3 pt-3 col"
      style="background-color: #8080801f"
      formGroupName="tax"
    >
      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat2"
          name="tax2"
          style="height: 24px; width: 24px"
          [ngModel]="data.billIncludeVAT"
          (ngModelChange)="updator('billIncludeVAT')($event)"
          [disabled]="readonly()"
        />
        <label for="vat2">สินค้ารวม VAT</label>
      </div>
      @if (compType === 'HU') {
      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat1"
          name="tax1"
          style="height: 24px; width: 24px"
          [ngModel]="data.registered"
          (ngModelChange)="updator('registered')($event)"
          [disabled]="readonly()"
        />
        <label for="vat1">จดทะเบียน VAT</label>
      </div>

      <div
        class="app-form-check"
        style="display: flex; gap: 16px; align-items: center"
      >
        <input
          type="checkbox"
          id="vat3"
          name="tax3"
          style="height: 24px; width: 24px"
          [ngModel]="data.fixedPrice"
          (ngModelChange)="updator('fixedPrice')($event)"
          [disabled]="readonly()"
        />
        <label for="vat3">ควบคุมราคาขายปลีก</label>
      </div>
      }
    </div>
  </div>
</div>

<ng-template #searchModal let-modal>
  <app-modal-layout
    title="ค้นหาซัพพลายเออร์"
    (crossClick)="modal.dismiss('Cross click')"
  >
    <div modalBody>
      <app-search-supplier (selectedSuplier)="onSelectParentComp($event)" />
    </div>
    <div modalFooter>
      <button class="btn btn-secondary" (click)="modal.close('Close modal')">
        Close
      </button>
    </div>
  </app-modal-layout>
</ng-template>
