<!-- @let selList = selected();@let addList = added(); -->
<h1 class="text-center">CN สินค้า</h1>
<p class="text-center leading">จำนวน {{ checkCount() }} รายการ</p>
<div class="form-layout">
  @for (itemForm of requestForm.returnList; track $index) {
    @let item = itemForm().value();
    @if (item.check) {
      <cn-good-item [goodInfo]="item.good" [formField]="itemForm.amount" />
    }
  }

  <div class="mt-3 border-bottom">
    <cn-image-uploader
      [wholeNumb]="requestForm.metadata.wholeNumb().value()"
      [formField]="requestForm.image"
      [cannotUpload]="cannotUpload()"
      (fail)="onFail($event)"
      (success)="onSuccess($event)"
    />
  </div>
  <div class="mt-3 text-end">
    รวมเป็นเงิน {{ totalPrice() | number: "1.2-2" }} บาท
  </div>
</div>
<div class="btn-wrapper">
  <a routerLink=".." class="btn btn-danger">ย้อนกลับ</a>
  <button
    class="btn btn-primary"
    [disabled]="cannotSubmit()"
    (click)="handleSubmit()"
  >
    ยืนยัน
  </button>
</div>
