@let formField = form();
<!--dow-->
<app-day-checkboox [(activeDay)]="formField.activeDay().controlValue" />
<!-- <div class="d-flex flex-wrap gap-3">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="everyday"
    />
    <label class="form-check-label" for="everyday"> ทุกวัน </label>
  </div>

  @for (day of form().activeDay; track $index) {
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [formField]="day"
        [id]="'day-' + $index"
      />
      <label class="form-check-label" [htmlFor]="day().name()">
        {{ "วัน" + dateRef[$index] }}
      </label>
    </div>
  }
</div> -->
<hr />
<!--time span-->
<app-timespan-picker
[required]="formField.timeSpan().required()"
  [(limitTime)]="formField.limitTime().controlValue"
  [(timeSpan)]="formField.timeSpan().controlValue"
/>
<div>{{
  form().timeSpan().errors() | json
  }}</div>

  <div>{{
  form().activeDay().errors() | json
  }}</div>
  <div>{{
  form().limitTime().errors() | json
  }}</div>