.layout {
  margin: auto;
  padding: 1rem;
  width: 100%;
  @media (min-width: 992px) {
    width: 920px;
  }
}

.step-item {
  list-style: none;
  background-color: #f5f5f5;
  padding: 0 8px;
  &:first-child {
    padding-top: 16px;
  }
}

.bg-lightgray {
  background-color: #f5f5f5;
}
