@let selList = selected();@let addList = added();
<h1 class="text-center">CN สินค้า</h1>
<p class="text-center leading">
  จำนวน {{ selList.length + addList.length }} รายการ
</p>
<div class="form-layout">
  @for (item of selList; track $index) {
  <app-good-item [item]="item">
    @for (l of item.lot; track $index) {
    <app-lot-item
      [lotItem]="l"
      (check)="handleCheckItem(l)({ check: $event })"
      (amount)="handleCheckItem(l)({ goodAmou: $event })"
    />
    }
  </app-good-item>
  }
  <!---->
  @for (item of addList; track $index) {
  <app-good-item [item]="item">
    @for (l of item.lot; track $index) {
    <app-lot-item
      [lotItem]="l"
      (check)="handleCheckAdded(l)({ check: $event })"
      (amount)="handleCheckAdded(l)({ goodAmou: $event })"
    />
    }
  </app-good-item>
  }
  <div class="mt-3 border-bottom">
    <app-uploader />
  </div>
  <div class="mt-3 text-end">รวมเป็นเงิน {{ 123 | number : "1.2-2" }} บาท</div>
</div>
<div class="btn-wrapper">
  <a routerLink=".." class="btn btn-danger">ย้อนกลับ</a>
  <button class="btn btn-primary" (click)="onClick()">ยืนยัน</button>
</div>
