.flash-sale-bg {
  padding: 2rem;
  background-color: var(--brand-purple-primary);
  width: 100vw;
  overflow: auto;
}

.flash-sale-page {
  box-sizing: border-box;
  aspect-ratio: 1;

  &.static {
    width: 3720px;
  }
}

.flash-sale-layout {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
}

.flash-sale-row {
  display: flex;
  gap: 4rem;
  &.row-3 {
    justify-content: space-between;
  }

  &.row-2 {
    justify-content: center;
  }
}
