@let headData = head();
<!---->
@if (!headData) {
<section>
  <h1>ไม่พบข้อมูล</h1>
</section>
}@else{
<section [className]="mainClass()">
  <div class="flash-sale-head">
    <div class="plain-day-text text-white">{{ headData.dayActive }}</div>
    <div class="header-space">
      <div class="day-text text-white">{{ headData.dayActive }}</div>
      <img [src]="'/image/FS/number/' + dayImg() + '.png'" alt="" />
    </div>
  </div>

  <div [className]="fsLayoutClass()">
    @for (item of listItem(); track $index) {
    <app-flash-sale-card [cardProp]="item" />
    }
  </div>
</section>
}
