.flash-sale-bg {
  background-color: var(--brand-purple-primary);
  overflow: auto;
}

.flash-sale-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  aspect-ratio: 1;
  padding: 4px;

  &.static {
    width: 4160px;
    padding: 64px;
  }
}

.flash-sale-head {
  flex: 1 1 30%;
  display: flex;
  justify-content: end;
}

.flash-sale-layout {
  flex: 1 1 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;

  .static {
    gap: 4rem;
  }
}

.flash-sale-row {
  display: flex;
  gap: 0.25rem;
  &.row-3 {
    justify-content: space-between;
  }

  &.row-2 {
    justify-content: center;
  }

  .static {
    gap: 4rem;
  }
}
