<h4>สินค้าแถม</h4>
<div>
  <app-product-picker
    [exclusionPool]="rewardPool()"
    (productAdd)="onAddProduct($event)"
  />
</div>
@let rewards = rewardPool();
@if (rewards.length !== 0) {
  <div class="d-flex flex-column gap-2 mt-2">
    @for (reward of rewards; track reward.goodCode) {
      <div class="d-flex justify-content-between align-items-center">
        <span class="form-control-plaintext">{{ reward | productName }}</span>
        <span>
          <button
            class="btn btn-danger btn-sm"
            (click)="onRemoveProduct(reward.goodCode)"
          >
            <i class="bi bi-x"></i>
          </button>
        </span>
      </div>
    }
  </div>
}
