<form [formGroup]="cnForm">
  <h1 class="text-center">แจ้ง CN สินค้า</h1>
  <div class="app-form-field">
    <label for="wholeCode">รหัสร้านค้า</label>
    <input
      type="text"
      name="wholeCode"
      id="wholeCode"
      formControlName="wholeCode"
    />
  </div>
  <div class="app-form-field">
    <label for="wholeName">ชื่อร้านค้า</label>
    <input
      type="text"
      name="wholeName"
      id="wholeName"
      formControlName="wholeName"
    />
  </div>
  <div class="app-form-field">
    <label for="ws">เลขที่ WS</label>
    <input type="text" name="ws" id="ws" formControlName="ws" />
  </div>
  <div class="mb-3">
    <label for="transfer">สถานะ</label>
    <select
      formControlName="transfer"
      name="transfer"
      id="transfer"
      class="form-select"
    >
      <option disabled>กรุณาเลือก</option>
      @for (opt of bankOpt(); track $index) {
      <option [value]="opt">
        {{ opt }}
      </option>
      }
    </select>
  </div>
  @if (isTransfer()) {
  <app-transfer-form />
  }
  <div class="mb-3">
    <label for="reason">สาเหตุ</label>
    <select
      formControlName="reason"
      name="reason"
      id="reason"
      class="form-select"
    >
      <option disabled>กรุณาเลือก</option>
      @for (opt of reasonOpt(); track $index) {
      <option [value]="opt">
        {{ opt }}
      </option>
      }
    </select>
  </div>
  @if (notShow()) {

  <app-result-dropdown />

  <app-cn-type-form />
  }
  <div class="app-form-field">
    <label for="note">หมายเหตุ</label>
    <input type="text" name="note" id="note" formControlName="note" />
  </div>
</form>
