<div class="dropdown" role="listbox" [class.show]="service.isOpen()">
  <button
    type="button"
    class="form-select text-start"
    (click)="service.toggle()"
  >
    {{ service.selectedLabel() || placeholder() }}
  </button>
  @if (service.isOpen()) {
    <ul class="dropdown-menu show w-100">
      <ng-content />
    </ul>
  }
</div>
<!-- @if (showError()) {
  <div>
    @for (error of errors(); track $index) {
      <span class="text-danger">{{ error.message }}</span>
    }
  </div>
} -->
