<div class="row mb-3">
  <div class="form-field col-md">
    <label class="form-label" for="inline-benefit-type">สิทธิ</label>
    <select
      name="inline-benefit-type"
      id="inline-benefit-type"
      class="form-select"
      [ngModel]="action()"
      (ngModelChange)="onActionChange($event)"
    >
      @for (opt of rewardOption(); track $index) {
        <option [value]="opt.action">{{ opt.label }}</option>
      }
    </select>
  </div>
  <div class="form-field col-md">
    <label class="form-label" for="inline-reward">{{
      action() | promotionBenefitName
    }}</label>
    <input
      class="form-control"
      name="inline-reward"
      id="inline-reward"
      type="number"
      [ngModel]="tier().rewardValue"
      (ngModelChange)="onChangeReward($event)"
    />
  </div>
</div>
