<div class="form-wrapper">
  <ul class="nav nav-tabs" style="border: none">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >ปฏิทินการจอง</a
      >
    </li>
    <li>
      <a routerLink="./list" routerLinkActive="active" class="nav-link"
        >ข้อมูลประตู</a
      >
    </li>
    <li>
      <a routerLink="./query" routerLinkActive="active" class="nav-link"
        >ค้นหาการจอง</a
      >
    </li>
  </ul>
  <div class="content">
    <router-outlet />
  </div>
</div>
