<div class="col-md mb-3">
  <div class="bg-lightgray p-3">
    <div class="row align-items-center px-3">
      <button class="btn btn-warning" (click)="openSearchSupplier()">
        ค้นหาซัพพลายเออร์
      </button>
    </div>
    @if (hasSelectComp()) {
    <div class="row">
      <div class="row pt-3 col-md">
        <div class="col">
          <label for="comp-name-input" class="col-form-label">ชื่อบริษัท</label>
        </div>
        <div class="col">
          <input
            id="comp-name-input"
            name="comp name"
            type="text"
            disabled
            [ngModel]="compName()"
            class="form-control"
          />
        </div>
      </div>
      <div class="row pt-3 col-md">
        <div class="col">
          <label for="comp-code-input" class="col-form-label">รหัสบริษัท</label>
        </div>
        <div class="col">
          <input
            type="text"
            name="comp code"
            id="comp-code-input"
            class="form-control"
            [ngModel]="compCode()"
            disabled
          />
        </div>
      </div>
    </div>
    }
  </div>
</div>

<ng-template #searchSupplierModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">ค้นหาซัพพลายเออร์</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">บริษัท</div>
      <div class="col-md">
        <div class="app-form-check">
          <input
            type="radio"
            name="dn"
            id="dn-true"
            [value]="true"
            [ngModel]="isDn()"
            (ngModelChange)="changeDn($event)"
          />
          <label for="dn-true">DN</label>
        </div>
      </div>
      <div class="col-md">
        <div class="app-form-check">
          <input
            type="radio"
            name="dn"
            id="dn-false"
            [value]="false"
            [ngModel]="isDn()"
            (ngModelChange)="changeDn($event)"
          />
          <label for="dn-false">HUG</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">ค้นจาก</div>
      <div class="col-md">
        <div class="app-form-check">
          <input
            type="radio"
            name="field"
            id="field-name"
            [value]="true"
            [ngModel]="isName()"
            (ngModelChange)="changeName($event)"
          />
          <label for="dn-true">ชื่อบริษัท</label>
        </div>
      </div>
      <div class="col-md">
        <div class="app-form-check">
          <input
            type="radio"
            name="field"
            id="field-code"
            [value]="false"
            [ngModel]="isName()"
            (ngModelChange)="changeName($event)"
          />
          <label for="field-code">รหัสบริษัท</label>
        </div>
      </div>
    </div>
    <div class="app-form-field">
      <label for="search-term-input">ชื่อบริษัท</label>
      <input
        type="text"
        name="search-term-input"
        id="search-term-input"
        [(ngModel)]="term"
      />
    </div>
    @let comp = compList();
    <!---->
    @if (comp.length !== 0) {
    <!---->
    <div class="row">
      <div class="col">รหัสบริษัท</div>
      <div class="col">ชื่อบริษัท</div>
      <div class="col"></div>
    </div>
    <ul
      style="
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      "
    >
      @for (c of comp; track $index) {
      <li class="row" style="list-style: none">
        <div class="col">{{ c.compCode }}</div>
        <div class="col">{{ c.compName }}</div>
        <div class="col">
          <button class="btn btn-success" (click)="selectComp(c)">
            <i class="bi bi-plus"></i>
          </button>
        </div>
      </li>
      }
    </ul>
    }
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-info" (click)="submit()">บันทึก</button> -->
  </div>
</ng-template>
