@let currentComp = comp();
<!---->
@if (!currentComp) {
<div>ไม่พบข้อมูล</div>
} @else {
<app-auth-page
  [initialValue]="{
    username: currentComp.username,
    userpass: currentComp.userpass,
    compCode: currentComp.compCode,
  }"
/>
<app-general-page
  [initialValue]="{
    compName: currentComp.compName,
    compName2: currentComp.compName2,
    compPhone: currentComp.compPhone,
    compFax: currentComp.compFax,
    compEmail: currentComp.compEmail,
    compAddr: currentComp.compAddr,
    saleName: currentComp?.saleName
  }"
/>

<app-step-three-page />
}
