@let remarkOpt = remarkOption();
@if (showCategory()) {
  <div class="app-form-field">
    <label for="remark-category">หมวดสาเหตุ</label>
    <select
      name="remark-category"
      id="remark-category"
      class="form-select"
      [(ngModel)]="category"
      [compareWith]="compareCategoryFn"
    >
      <option [ngValue]="null">ทั้งหมด</option>
      @for (cate of categoryOption; track cate.id) {
        <option [ngValue]="cate">
          {{ cate.label }}
        </option>
      }
    </select>
  </div>
}
<div class="app-form-field">
  <label for="remark"
    >สาเหตุ
    @if (required()) {
      <span class="text-danger">*</span>
    }
  </label>
  <select
    name="remark"
    id="remark"
    class="form-select"
    [name]="name()"
    [(ngModel)]="value"
    [compareWith]="compareRemarkFn"
    (blur)="onBlur()"
  >
    <option [ngValue]="null" disabled>กรุณาเลือกสาเหตุ</option>
    @for (opt of remarkOpt; track opt.id) {
      <option [ngValue]="opt">
        {{ opt.remark }}
      </option>
    }
  </select>
  @if (touched()) {
    <div class="d-flex flex-column">
      @for (error of errors(); track $index) {
        <span class="text-danger">{{ error.message }}</span>
      }
    </div>
  }
</div>
