<div class="mb-3">
  <div class="dp-hidden position-absolute">
    <div class="input-group">
      <input
        [id]="'date-input-hide-' + id"
        id="form-date"
        name="datepicker"
        ngbDatepicker
        #cal="ngbDatepicker"
        tabindex="-1"
        [ngModel]="date"
        (ngModelChange)="onClick($event)"
        style="border: none"
      />
    </div>
  </div>
  <div class="input-group">
    <div class="form-floating">
      <input
        [id]="'date-input-' + id"
        #dpFromDate
        class="form-control"
        [value]="displayDate()"
        name="dpFromDate"
        disabled
      />
      <label class="form-label" [attr.for]="'date-input-' + id">{{
        label()
      }}</label>
    </div>
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="cal.toggle()"
      [disabled]="disableClick()"
      type="button"
    ></button>
  </div>
</div>
