<section class="app-container">
  @if (invalidValue()) {
  <div>ไม่พบเอกสาร</div>
  }@else{
  <!---->
  @let e = currentResult(); @let comp = e.company;@let incomes =
  e.incomeList;@let periods = e.periodList;@let h = e.head;
  <app-other-income-head-edit
    [head]="e.head"
    [event]="e.event"
    [income]="e.income"
    [comp]="e.company"
    [canEdit]="false"
  />
  <!---->
  <app-other-income-product-edit [productList]="e.productList" />

  @if(e.event.eventType === 1){
  <!---->
  @let a = acc();
  <app-other-income-not-light-edit
    [steps]="e.stepList"
    [notLight]="e.notLight"
    [canEdit]="false"
  />
  <app-other-income-monthly-edit
    [eventType]="e.event.eventType"
    [id]="h.id"
    [compType]="e.company.compType"
    [accAmount]="a.accAmount"
    [accIncome]="a.accIncome"
    [stepType]="e.notLight.stepType"
    [stepList]="e.stepList"
    [capAmount]="e.notLight.capAmount"
    [canEdit]="true"
    (success)="onSuccess($event)"
    (fail)="onFail($event)"
  />
  <app-other-income-monthly-list
    [isDc]="[1, 2].includes(e.income.incomeType)"
    [incomeList]="e.incomeList"
    (success)="onSuccess($event)"
    (fail)="onFail($event)"
  />
  }
  <!--add incentive income here-->
  @if (e.event.eventType === 3) {
  <app-other-income-monthly-incentive-edit
    [canEdit]="true"
    [id]="e.head.id"
    [eventType]="e.event.eventType"
    [incomeList]="e.incomeList"
    (success)="onSuccess($event)"
    (fail)="onFail($event)"
  />
  }
  <!---->
  @if (isPurchase) {
  <app-create-period
    [eventType]="e.event.eventType"
    [incomeList]="incomes"
    [headId]="e.head.id"
    [compCode]="comp.compCode"
    [compType]="comp.compType"
    (success)="onSuccess($event)"
    (fail)="onFail($event)"
  />
  }
  <!---->
  @for (period of periods; track period.id) {
  <div class="mb-3">
    <div class="row bg-success bg-opacity-10">
      <div class="row">
        @for (header of currentHeader(); track $index) {
        <div class="col">{{ header }}</div>
        }
      </div>
      <div class="row">
        @for (period of periods; track $index) { @for (fn of currentMapper();let
        j = $index; track j) {
        <div class="col">{{ fn(period) }}</div>
        } }
      </div>
    </div>
    <div style="overflow-x: auto; max-width: 100%">
      <!--ท้ายบิล-->
      @if (e.income.incomeType === 1) {
      <div style="min-width: 100%" tabindex="0">
        <app-other-income-order-period
          [canEdit]="isPurchase"
          [actualAmount]="period.totalIncome"
          [orderList]="period.orderList"
          [periodId]="period.id"
          [compCode]="comp.compCode"
          [compType]="comp.compType"
          (success)="onSuccess($event)"
          (fail)="onFail($event)"
        />
      </div>
      }
      <!--สินค้า-->
      @if (e.income.incomeType === 2) {
      <div style="min-width: 100%">
        <app-other-income-good-order-period
          [canEdit]="isPurchase"
          [actualAmount]="period.totalIncome"
          [orderList]="period.orderList"
          [periodId]="period.id"
          [compCode]="comp.compCode"
          [compType]="comp.compType"
          (success)="onSuccess($event)"
          (fail)="onFail($event)"
        />
      </div>
      }
      <!--invoice-->
      @if (e.income.incomeType === 3) {
      <div style="min-width: 100%">
        <app-other-income-invoice-period
          [canEdit]="!isPurchase"
          [invoiceList]="period.invoiceList"
          [periodId]="period.id"
          [incomeAmount]="period.totalIncome"
          [addedAmount]="period.invAmount"
          (success)="onSuccess($event)"
          (fail)="onFail($event)"
        />
      </div>
      <div style="min-width: 100%">
        <app-other-income-recipt-period
          [canEdit]="!isPurchase"
          [receiptList]="period.receiptList"
          [invAmount]="period.invAmount"
          [receAmount]="period.receAmount"
          [periodId]="period.id"
          (success)="onSuccess($event)"
          (fail)="onFail($event)"
        />
      </div>
      }
      <!--credit note-->
      @if (e.income.incomeType === 4) {
      <div style="min-width: 100%">
        <app-other-income-credit-period
          [canEdit]="!isPurchase"
          [periodId]="period.id"
          [incomeAmount]="period.totalIncome"
          [addedAmount]="period.creditAmount"
          [creditList]="period.creditList"
          (success)="onSuccess($event)"
          (fail)="onFail($event)"
        />
      </div>
      }
    </div>
  </div>
  } }
</section>
