<section class="app-container">
  @if (invalidValue()) {
  <div>ไม่พบเอกสาร</div>
  }@else{

  <app-other-income-head-edit [value]="head()" [canEdit]="true" />
  <app-other-income-not-light-edit
    [eventDetail]="eventDetail()"
    [canEdit]="true"
  />
  <app-other-income-product-edit [value]="productDetail()" [canEdit]="true" />
  @let a = acc(); @let s = stepInfo();
  <app-other-income-monthly-edit
    [incomeList]="incomeList()"
    [id]="currentResult().id"
    [compType]="currentResult().company.compType"
    [canEdit]="true"
    [accAmount]="a.accAmount"
    [accIncome]="a.accIncome"
    [isStep]="s.isStep"
    [stepList]="s.stepList"
    [capAmount]="currentResult().capAmount"
  />
  <app-create-period
    [incomeList]="incomeList()"
    [headId]="head().id"
    [compCode]="head().compCode"
    [compType]="head().compType"
  />
  <app-other-income-not-light-period-edit
    [headId]="head().id"
    [compCode]="head().compCode"
    [compType]="head().compType"
    [canEdit]="true"
    [periodList]="periodList()"
  />
  <app-other-income-period-account
    [headId]="head().id"
    [compCode]="head().compCode"
    [compType]="head().compType"
    [canEdit]="true"
    [periodList]="periodList()"
  />
  }
</section>
