<div class="row">
  <div class="col-4">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="is-member-spec"
        [ngModel]="limitTier()"
        (ngModelChange)="onToggleTier($event)"
      />
      <label class="form-check-label" for="is-member-spec"
        >จำกัดระดับสมาชิก</label
      >
    </div>
  </div>
  <div class="col-4">
    <app-search-picker
      inputId="search-member"
      label="ระดับสมาชิก"
      [items]="validMember()"
      [searchBy]="memberName"
      [format]="memberName"
      [disabled]="allowAddTier()"
      (picked)="onSelectTier($event)"
    />
  </div>
</div>
