<div class="row mb-3">
  <div class="col-2">
    <div>
      <label
        for="discount"
        class="form-label fw-semibold text-muted small mb-1"
      >
        ส่วนลดรายสินค้า</label
      >
      <select
        name="discount"
        id="discount"
        class="form-select form-select-sm"
        [(ngModel)]="benefitType"
        [disabled]="cannotChangeBenefit()"
      >
        <option value="BATH">ลดเป็นบาท</option>
        <option value="PERCENT">ลดเป็น %</option>
        <option value="PRICE">ขายในราคา</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div>
      <label
        class="form-label fw-semibold text-muted small mb-1"
        for="search-goodname"
        >ชื่อสินค้า</label
      >
      <input
        id="search-goodname"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="onSearchName"
        [inputFormatter]="formatGoodName"
        [resultFormatter]="formatProduct"
        (selectItem)="onSelectProduct($event)"
        [editable]="false"
      />
    </div>
  </div>
  <div class="col">
    <div>
      <label
        for="search-barcode"
        class="form-label fw-semibold text-muted small mb-1"
        >บาร์โค้ด 6 หลัก</label
      >
      <input
        id="search-barcode"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="onSearchSku"
        [inputFormatter]="formatGoodName"
        [resultFormatter]="formatProduct"
        (selectItem)="onSelectProduct($event)"
        [editable]="false"
      />
    </div>
  </div>
  <div class="col">
    <div>
      <label
        for="search-promotion-product"
        class="form-label fw-semibold text-muted small mb-1"
        >ชื่อกลุ่มสินค้า</label
      >
      <input
        id="search-promotion-product"
        type="text"
        class="form-control form-control-sm"
        placeholder="พิมพ์เพื่อค้นหา..."
        [ngbTypeahead]="searchPromotionProductGroup"
        [inputFormatter]="formatPromotionProductGroup"
        [resultFormatter]="formatPromotionProductGroup"
        (selectItem)="onSelectpromoitionproductGroup($event)"
        [editable]="false"
      />
    </div>
  </div>
</div>
@for (product of productList(); track product.goodCode) {
  <div class="row align-items-end">
    <div class="col">
      <div class="app-form-field">
        <span>สินค้า</span>
        <span class="form-control-plaintext">{{ formatProduct(product) }}</span>
      </div>
    </div>
    <div class="col-lg-3">
      @if (isBenefitPercent()) {
        <div class="app-form-field">
          <label>ส่วนลด %</label>
          <input
            type="number"
            [id]="'good-price-' + product.goodCode"
            [formField]="productForm.productMap[product.goodCode].benefitPrice"
          />
        </div>
      }
      <!---->
      @if (isBenefitBath()) {
        <div class="app-form-field">
          <label>ส่วนลดบาท</label>
          <input
            type="number"
            [id]="'good-discount-' + product.goodCode"
            [formField]="productForm.productMap[product.goodCode].benefitBath"
          />
        </div>
      }
    </div>

    <div class="col-1">
      <button
        class="btn btn-danger btn-squre mb-3"
        (click)="onRemoveProduct(product.goodCode)"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
}

@let curInline = inlinePool();
@if (curInline.length !== 0) {
  <table class="table">
    <thead>
      <tr>
        <th>สินค้า</th>
        <th>ส่วนลด</th>
      </tr>
    </thead>
    <tbody>
      @for (inline of curInline; track inline.goodCode) {
        <tr>
          <td>({{ inline.sku }}) {{ inline.goodName }}</td>
          <td>{{ inline.benefitBath }}</td>
        </tr>
      }
    </tbody>
  </table>
}
<div class="row mb-3">
  <div class="col-md">
    <div>
      <label class="form-label fw-semibold text-muted small mb-1"
        >ขั้นต่ำ</label
      >
      <select class="form-select form-select-sm">
        <option value="EXIST">มีสินค้า</option>
        <option value="COUNT">จำนวน(ชิ้น)</option>
        <option value="SUBTOTAL">ยอด(บาท)</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div>
      <label class="form-label fw-semibold text-muted small mb-1">ยอด</label>
      <input type="number" class="form-control form-control-sm" />
    </div>
  </div>
</div>
<button
  class="btn btn-success w-100"
  [disabled]="disableSubmitButton()"
  (click)="onSubmit()"
>
  เพิ่มรายการ
</button>
