@let master = form();
<div class="row">
  <div class="col-lg-3">
    <div class="app-form-field">
      <label [htmlFor]="master.promotionName().name()">ชื่อโปรโมชั่น </label>

      <input type="text" id="pro-name" [formField]="master.promotionName" />
    </div>
  </div>
  <div class="col-lg-3">
    <div class="app-form-field">
      <label [htmlFor]="master.source().name()">โปรโมชั่นของ</label>

      <select class="form-select" id="source" [formField]="master.source">
        <option value="HU">Health up</option>
        <option value="SUPPLIER">Supplier</option>
        <option value="BOTH">BOTH</option>
      </select>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="app-form-field">
      <label for="priority"> ใช้ร่วมกับโปรโมชั่นอื่น </label>
      <select
        [formField]="master.promotionPriority"
        id="priority"
        class="form-select"
      >
        <option value="0">ใช้ร่วมกันได้</option>
        <option value="1">priority 1</option>
        <option value="2">priority 2</option>
        <option value="3">priority 3</option>
      </select>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="app-form-field">
      <label for="order">ลำดับการคำนวน</label>
      <select
        id="order"
        class="form-select"
        [formField]="master.promotionOrder"
      >
        <option value="0">ลำดับสุดท้าย</option>
        <option value="1" [disabled]="master.source().value() === 'HU'">ลำดับก่อนสุดท้าย</option>
        <option value="2" [disabled]="master.source().value() === 'HU'">ลำดับกลาง</option>
        <option value="3" [disabled]="master.source().value() === 'HU'">ลำดับแรก</option>
      </select>
    </div>
  </div>

  <!-- datetime-->
  <!-- <div class="col-lg-6">
          <app-date-input label="ตั้งแต่" [formField]="master.endDate" />
        </div>
        <div class="col-lg-6">
          <app-date-input label="สิ้นสุด" [formField]="master.startDate" />
        </div> -->
</div>
<div class="app-form-field">
  <label [htmlFor]="master.promotionDesc().name()">รายละเอียด</label>
  <textarea [formField]="master.promotionDesc" id="pro-desc"> </textarea>
</div>
