@let cardlist = data();
<!---->
<div class="prochure prochure-width">
  <img
    [src]="headerUrl()"
    alt="prochure header"
    class="header-image prochure-width"
  />
  <div class="date">{{ formattedDate() }}</div>
  @if (cardlist.length !== 0) {
  <div class="prochure-content">
    @for (card of cardlist; track $index) {

    <app-prochure-card [props]="card" [color]="color()" />
    }
  </div>
  }
  <img [src]="footerUrl()" alt="prochure footer" class="prochure-width" />
</div>
<!-- <div>test static html</div> -->
