@let cardlist = data(); @let static = isStatic();

<div [className]="static ? 'static prochure' : 'prochure'">
  <img [src]="headerUrl()" alt="prochure header" class="header-image" />
  <div [className]="static ? 'date-static' : 'date'">
    {{ formattedDate() }}
  </div>
  @if (cardlist.length !== 0) {
  <div [className]="static ? 'content static' : 'content res-prochure-grid'">
    @for (card of cardlist; track $index) {

    <app-prochure-card [props]="card" [color]="color()" [isStatic]="static" />
    }
  </div>
  }
  <img [src]="footerUrl()" alt="prochure footer" />
</div>
