@page {
  size: A4;
}
.prochure {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .header-image,
  .footer-image {
    max-width: 100%;
  }
  &.static {
    width: 210mm;
    height: 296.7mm;

    @media (min-width: 1024px) {
      width: 420mm;
      height: 593.7mm;
    }

    .header-image.static,
    .footer-image.static {
      width: 210mm;

      @media (min-width: 1024px) {
        width: 420mm;
      }
    }
  }

  &:not(.static) {
    aspect-ratio: 1.414;
  }
}

.content {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  &.item-6 {
    grid-template-columns: repeat(2, 1fr);

    :ng-deep {
      &:nth-child(odd) {
        justify-self: end;
      }

      &:nth-child(even) {
        justify-self: start;
      }
    }
  }

  &.item-9 {
    grid-template-columns: repeat(3, 1fr);

    :ng-deep {
      &:nth-child(3n + 1) {
        justify-self: end;
      }

      &:nth-child(3n + 2) {
        justify-self: center;
      }

      &:nth-child(3n) {
        justify-self: start;
      }
    }
  }

  &.static {
    width: 80%;
    padding: 16px;
    column-gap: 16px;
    justify-content: center;

    @media (min-width: 1024px) {
      column-gap: 24px;
    }
  }
}

.res-prochure-grid {
  row-gap: 4px;
  column-gap: 4px;
  padding: 4px 0;

  // @media (min-width: 370px) {
  // }

  // @media (min-width: 475px) {
  // }

  @media (min-width: 570px) {
    row-gap: 8px;
    column-gap: 8px;
    padding: 8px 0;
  }

  // @media (min-width: 768px) {
  // }

  @media (min-width: 992px) {
    row-gap: 12px;
    column-gap: 12px;
    padding: 12px 0;
  }
  @media (min-width: 1200px) {
    row-gap: 16px;
    column-gap: 16px;
    padding: 16px 0;
  }

  @media (min-width: 1400px) {
    row-gap: 32px;
    column-gap: 32px;
    padding: 32px 0;
  }
}

.date {
  position: absolute;
  right: 25px;
  bottom: 5px;
  font-size: 8px;

  @media (min-width: 370px) {
    font-size: 9px;
  }

  @media (min-width: 400px) {
    right: 30px;
    bottom: 12px;
  }

  @media (min-width: 475px) {
    font-size: 10px;
    right: 50px;
    bottom: 12px;
  }

  @media (min-width: 570px) {
    font-size: 12px;
    right: 50px;
    bottom: 15px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 992px) {
    font-size: 20px;
    right: 100px;
    bottom: 20px;
  }
  @media (min-width: 1200px) {
    font-size: 24px;
  }
  @media (min-width: 1400px) {
    font-size: 28px;
    bottom: 25px;
  }
}

.date-static {
  width: 33%;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  right: 60px;
  bottom: 20px;

  @media (min-width: 1024px) {
    font-size: 32px;
    right: 100px;
    bottom: 40px;
  }
}

.customer-label.static {
  font-size: 17px;
  position: absolute;
  right: 0;
  translate: -80% 50%;
  @media (min-width: 1024px) {
    font-size: 34px;
  }
}

.customer-label:not(.static) {
  font-size: 9px;
  position: absolute;
  right: 0;
  translate: -75% 35%;
  @media (min-width: 370px) {
  }
  @media (min-width: 475px) {
    font-size: 11px;
  }
  @media (min-width: 570px) {
    font-size: 13px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 992px) {
    font-size: 22px;
  }
  // @media (min-width: 1024px) {
  //   font-size: 22px;
  // }
  @media (min-width: 1200px) {
    font-size: 26px;
    translate: -80% 50%;
  }
}

// @media print {
//   @page {
//     size: A4;
//     margin: 1mm;
//   }
//   .prochure.static {
//     size: A4;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
// }
