<div class="mb-3">
  <span class="form-label">เลือก cn บางรายการ/ทั้งบิล</span>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="cnType"
      id="cnSome"
      value="some"
      [(ngModel)]="cnType"
    />
    <label class="form-check-label" for="cnSome"> CN บางรายการ </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="cnType"
      id="cnWhole"
      value="whole"
      [(ngModel)]="cnType"
      [disabled]="cannotCNWhole()"
    />
    <label class="form-check-label" for="cnWhole"> CN ทั้งบิล </label>
    @if (cannotCNWhole()) {
      <i
        class="bi bi-info-circle ms-1" style="color: #333"
        [ngbTooltip]="'ไม่สามารถ CN ทั้งบิลได้ เนื่องจากมี CN บางรายการแล้ว'"
        placement="end"
        triggers="hover click"
      ></i>
    }
  </div>
</div>
