<div class="mb-3">
  <label class="form-label">เลือก cn บางรายการ/ทั้งบิล</label>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="cnType"
      id="cnSome"
      value="some"
      [(ngModel)]="cnType"
    />
    <label class="form-check-label" for="cnSome"> cn บางรายการ </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="cnType"
      id="cnWhole"
      value="whole"
      [(ngModel)]="cnType"
    />
    <label class="form-check-label" for="cnWhole"> cn ทั้งบิล </label>
  </div>
</div>
