@let lst = benefitList();
@if (lst.length === 0) {
  <div class="row p-2">
    <span class="text-center">ยังไม่กำหนดสิทธิประโยชน์</span>
  </div>
} @else {
  <ol class="list-group list-group-numbered">
    @for (benefit of lst; track $index) {
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        @if (showThresholdBath()) {
          <div>ซื้อ {{ benefit.thresholdBath }} บาท</div>
        } @else {
          <div>ซื้อ {{ benefit.thresholdCount }} ชิ้น</div>
        }
        @if (showBenefitBath()) {
          <div>ลด {{ benefit.benefitBath }} บาท</div>
        }
        @if (showBenefitPercent()) {
          <div>ลด {{ benefit.benefitBath }} %</div>
        }
        @if (showBenefitPrice()) {
          <div>ราคา {{ benefit.benefitBath }} บาท</div>
        }
        @if (isPWP()) {
          <div>ได้สิทธิแลกซื้อ {{ benefit.pwpCount }} ชิ้น</div>
        }
        <div>
          <button class="btn btn-danger btn-squre" (click)="onDelete($index)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    }
  </ol>
}
