<div class="row">
  <div class="d-flex col mb-3">
    <div class="col-3">ตั้งแต่</div>
    <div class="col">
      <ngb-timepicker
        [spinners]="false"
        [formControl]="timeRangeForm.controls.form"
      ></ngb-timepicker>
    </div>
  </div>

  <div class="d-flex col mb-3">
    <div class="col-3">ถึง</div>
    <div class="col">
      <ngb-timepicker
        [spinners]="false"
        [formControl]="timeRangeForm.controls.to"
      ></ngb-timepicker>
    </div>
  </div>

  <div class="col-md-auto justify-content-end mb-3 d-flex">
    <div class="col-auto" style="padding: 0 12px">
      @if (withDel()) {
      <button class="btn btn-danger" (click)="onDelete()">
        <i class="bi bi-trash"></i>
      </button>
      }
    </div>
  </div>
</div>
