<section class="p-3">
  <h1 class="text-center mb-3">ข้อมูลซัพพลายเออร์ ({{ pageHeader() }})</h1>

  <div class="container-xl" style="overflow-x: auto">
    <a routerLink="/supplier/form" class="btn btn-success mb-3" role="button"
      ><i class="bi bi-plus"></i>เพิ่มซัพพลายเออร์</a
    >
    <!-- <div class="row mb-3">
      <div class="col-auto">
        <div class="form-field">
          <label for="" class="form-label">ค้นหาจาก</label>
          <select name="" id="" class="form-select">
            <option value="supCode">รหัสซัพ</option>
            <option value="supName">ชื่อซัพ</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <div class="app-form-field">
          <label for="">คำค้นหา</label>
          <input type="text" />
        </div>
      </div>
    </div> -->
    <app-ibob-query-tab label="รายชื่อซัพ" />
    <table class="table table-striped table-bordered" style="min-width: 1024px">
      <thead>
        <tr>
          <th scope="col" style="min-width: 102px">Username</th>
          <th scope="col" style="min-width: 102px">Password</th>
          <th scope="col" style="min-width: 160px">ชื่อบริซัท/ซัพฯ</th>
          <th scope="col" style="min-width: 122px">โทรศัพท์</th>
          <th scope="col" style="min-width: 160px">E mail</th>
          <th scope="col">ที่อยู่</th>
        </tr>
      </thead>
      <tbody>
        <!-- @for (comp of items; track $index) {}
        <tr tabindex="0" style="cursor: pointer" (click)="goTo(comp.compCode)">
          <td scope="row">{{ comp.username }}</td>
          <td>{{ comp.userpass }}</td>
          <td>{{ comp.compName }}</td>
          <td>{{ comp.compPhone }}</td>
          <td>{{ comp.compEmail }}</td>
          <td>{{ comp.compAddr }}</td>
        </tr> -->
      </tbody>
    </table>

    <!-- <table class="table table-striped table-bordered" style="min-width: 1024px">
      <thead>
        <tr>
          <th scope="col" style="min-width: 102px">Username</th>
          <th scope="col" style="min-width: 102px">Password</th>
          <th scope="col" style="min-width: 160px">ชื่อบริซัท/ซัพฯ</th>
          <th scope="col" style="min-width: 122px">โทรศัพท์</th>
          <th scope="col" style="min-width: 160px">E mail</th>
          <th scope="col">ที่อยู่</th>
        </tr>
      </thead>
      <tbody>
        @for (item of data(); track $index) {
        <tr tabindex="0" (click)="goTo($index)" style="cursor: pointer">
          <td scope="row">{{ item.username }}</td>
          <td>{{ item.password }}</td>
          <td>{{ item.supName }}</td>
          <td>{{ item.tel }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.address }}</td>
        </tr>
        }
      </tbody>
    </table> -->
  </div>
</section>
