@let state = formState();
<div class="row">
  @if (showThresholdBath()) {
    <div class="app-form-field col">
      <div><label for="threshold-bath">ซื้อ(บาท)</label></div>
      <div>
        <input
          type="text"
          id="threshold-bath"
          [ngModel]="state.thresholdBath"
          (ngModelChange)="onChangeState('thresholdBath', $event)"
        />
      </div>
    </div>
  } @else {
    <div class="app-form-field col">
      <div><label for="threshold-count">ซื้อ(ชิ้น)</label></div>
      <div>
        <input
          type="text"
          id="threshold-count"
          [ngModel]="state.thresholdCount"
          (ngModelChange)="onChangeState('thresholdCount', $event)"
        />
      </div>
    </div>
  }
  <!---->
  @if (showBenefitBath()) {
    <div class="app-form-field col">
      <div><label for="benefit-bath">ลด(บาท)</label></div>
      <div>
        <input
          type="text"
          id="benefit-bath"
          [ngModel]="state.benefitBath"
          (ngModelChange)="onChangeState('benefitBath', $event)"
        />
      </div>
    </div>
  }
  <!---->
  @if (showBenefitPercent()) {
    <div class="app-form-field col">
      <div><label for="benefit-perccent">ลด(%)</label></div>
      <div>
        <input
          type="text"
          id="benefit-perccent"
          [ngModel]="state.benefitPercent"
          (ngModelChange)="onChangeState('benefitPercent', $event)"
        />
      </div>
    </div>
  }
  <!---->
  @if (showBenefitPrice()) {
    <div class="app-form-field col">
      <div><label for="benefit-price">ในราคา(บาท)</label></div>
      <div>
        <input
          type="text"
          id="benefit-price"
          [ngModel]="state.benefitPrice"
          (ngModelChange)="onChangeState('benefitPrice', $event)"
        />
      </div>
    </div>
  }

  <div class="col-auto">
    <button class="btn btn-success btn-squre" (click)="onSubmit()">
      <i class="bi bi-plus"></i>
    </button>
  </div>
</div>
