<div class="mb-3">
  <div class="row" style="justify-content: space-between">
    <h2 class="col-auto">สรุปราย Period</h2>
  </div>
  <div style="max-height: 200px; overflow-y: auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>ยอดซื้อจริง</th>
          <th>รายได้คำนวน</th>
          <th>ยอดสินค้า</th>
          <th>ยอดใบแจ้งหนี้</th>
          <th>ยอดใบเสร็จรับเงิน</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (period of periodList(); track period.id) {
        <tr>
          <td>{{ period.remark }}</td>
          <td>{{ period.totalAmount | number : "1.2-2" }}</td>
          <td>{{ period.totalIncome | number : "1.2-2" }}</td>
          <td>{{ period.orderAmount | number : "1.2-2" }}</td>
          <td>{{ period.invAmount | number : "1.2-2" }}</td>
          <td>{{ period.receAmount | number : "1.2-2" }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="openModal(period.id, period.totalIncome)"
            >
              เพิ่ม po
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #poModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">เพิ่ม po</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body" style="max-height: 75vh; overflow-y: auto">
    <div class="app-form-field-inline">
      <div>
        <label for="search-po">ค้นหาเลข po</label>
      </div>
      <div>
        <input type="text" name="search-po" id="search-po" [(ngModel)]="term" />
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>เลข po</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        @for (order of orderList(); track $index) {
        <tr>
          <td>{{ order.orderNumb }}</td>
          <td>
            <button class="btn btn-danger" (click)="addOrder(order)">
              <i class="bi bi-plus"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <span>po ที่เลือก</span>
    <table class="table">
      <thead>
        <tr>
          <th>po</th>
          <th>ยอด</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (selected of selectOrder(); track selected.orderNumb) {
        <tr>
          <th>{{ selected.orderNumb }}</th>
          <th>
            <input
              type="number"
              [id]="selected.orderNumb + '-actual'"
              [ngModel]="selected.actualAmount"
              (ngModelChange)="updateAmount(selected.orderNumb, $event)"
            />
          </th>
          <th>
            <button
              class="btn btn-outline-danger"
              (click)="deleteOrder(selected.orderNumb)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </th>
        </tr>
        }
        <tr>
          <td>ยอดคำนวน</td>
          <td>
            {{ sum() | number : "1.2-2" }}/{{
              periodAmount() | number : "1.2-2"
            }}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary w-100"
      [disabled]="selectOrder().length === 0"
      (click)="onSubmit()"
    >
      บันทึก
    </button>
  </div>
</ng-template>
