<div class="modal-header">
  <h4 class="modal-title">เพิ่มใบแจ้งหนี้</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal.emit()"
  ></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label [htmlFor]="createForm.creditDate().name()" class="form-label"
      >วันที่ใบลดหนี้</label
    >
    <app-signal-datepicker [formField]="createForm.creditDate" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.creditNumb()">เลขที่ใบลดหนี้</label>
    <input type="text" [formField]="createForm.creditNumb" />
  </div>
  <div class="app-form-field">
    <label for="total-income">รายได้ตามรอบบัญชี</label>
    <input [ngModel]="totalIncome()" name="total-income" readonly />
  </div>
  <div class="app-form-field">
    <label for="remain-income">รายได้ตามรอบบัญชีคงเหลือ</label>
    <input type="number" [formField]="createForm.remainingIncome" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.creditAmount()">ยอดใบลดหนี้</label>
    <input type="text" [formField]="createForm.creditAmount" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.creditRemark()">หมายเหตุ</label>
    <textarea type="text" [formField]="createForm.creditRemark"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary w-100"
    [disabled]="cannotSubmit()"
    (click)="onSubmit()"
  >
    บันทึก
  </button>
</div>
