<h4>สินค้าแลกซื้อ</h4>
<div>
  <app-product-picker
    [exclusionPool]="rewards()"
    (productAdd)="onAddProduct($event)"
  />
</div>

@for (reward of rewardForm().rewardPool; track reward().name()) {
  <div class="row mb-2">
    @let current = reward();
    <span class="col">{{ current.value() | productName }}</span>
    <div class="col">
      <select
        class="form-select form-select-sm"
        [formField]="reward.itemBenefitType"
      >
        @for (bt of pwpBenefitTypes; track bt.value) {
          <option [value]="bt.value">{{ bt.label }}</option>
        }
      </select>
    </div>
    <div class="col">
      <input
        class="form-control form-control-sm"
        type="number"
        [formField]="reward.itemBenefitValue"
      />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-danger btn-sm"
        (click)="onRemoveProduct(current.value().goodCode)"
      >
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
}
<app-form-alert-text [formState]="rewardForm().rewardPool()" />
