<div class="modal-header">
  <h4 class="modal-title">{{ modalLabel() }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row mb-3">
    <div class="col-6">
      <label for="amount-input" class="col-form-label">ยอดเรียกเก็บ</label>
    </div>
    <div class="col-6">
      <input
        type="number"
        id="amount-input"
        name="amount-input"
        class="form-control"
        disabled
        [ngModel]="amount()"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <label for="actual-input" class="col-form-label">ยอดเรียกเก็บจริง</label>
    </div>
    <div class="col-6">
      <input
        type="number"
        id="actual-input"
        name="actual-input"
        class="form-control"
        disabled
        [ngModel]="actual()"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <label for="diff-input" class="col-form-label">ส่วนต่าง</label>
    </div>
    <div class="col-6">
      <input
        type="number"
        id="diff-input"
        name="diff-input"
        class="form-control"
        disabled
        [ngModel]="diff()"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <label for="remark-input" class="col-form-label">หมายเหตุ</label>
    </div>
    <div class="col-6">
      <input
        type="text"
        id="remark-input"
        name="remark-input"
        class="form-control"
        [(ngModel)]="remark"
      />
    </div>
  </div>
  @if (isComplete()) {
  <div class="row mb-3">
    <div class="col">
      <label for="category-select">รับรู้รายได้</label>
    </div>
    <div class="col">
      <select
        name="category-select"
        id="category-select"
        class="form-select"
        [(ngModel)]="category"
      >
        <option [ngValue]="0" disabled>กรุณาเลือก</option>
        <option [ngValue]="1">ส่วนลดท้ายบิล</option>
        <option [ngValue]="2">ใบแจ้งหนี้</option>
      </select>
    </div>
  </div>
  @if (category() === 1) {
  <ul
    style="
      padding: 0;
      margin: 0 16px 16px 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    "
  >
    @for (item of poList(); track $index) {
    <li class="row align-items-center" style="list-style: none">
      <div class="row" style="margin-top: 8px; margin-bottom: 8px">
        <div class="col">
          <label class="form-label" [attr.for]="'po-numb-' + $index"
            >เลข PO</label
          >
        </div>
        <div class="col">
          <input
            class="form-control"
            type="text"
            [attr.name]="'po-numb-' + $index"
            [id]="'po-numb-' + $index"
            [ngModel]="item.opNumb"
            (ngModelChange)="updateNumb($index)($event)"
          />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row" style="margin-top: 8px; margin-bottom: 8px">
        <div class="col">
          <label class="form-label" [attr.for]="'po-value-' + $index"
            >มูลค่าส่วนลด</label
          >
        </div>
        <div class="col">
          <input
            class="form-control"
            type="number"
            [attr.name]="'po-value-' + $index"
            [id]="'po-value-' + $index"
            [ngModel]="item.total"
            (ngModelChange)="updateTotal($index)($event)"
          />
        </div>
        <div class="col-1">
          <button
            class="btn btn-danger"
            (click)="deleteItem($index)"
            [disabled]="poLength() === 1"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </li>
    }
  </ul>
  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-outline-success" (click)="addPoList()">
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
  }
  <!---->
  @if (category() === 2) {
  <div class="row">
    <div class="col-6">
      <label class="form-label" for="debtName"
        >ชื่อค่าใช้เรียกเก็บ (ถ้ามี)</label
      >
    </div>
    <div class="col-6">
      <input
        class="form-control"
        type="text"
        name="debtName"
        id="debtName"
        [(ngModel)]="debtName"
      />
    </div>
  </div>
  } }
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-info"
    (click)="activeModal.close('Close click')"
  >
    บันทึก
  </button>
</div>
