<div class="modal-header">
  <h4 class="modal-title">เพิ่มใบแจ้งหนี้</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal.emit()"
  ></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="invoice-date-input" class="form-label">วันที่ใบแจ้งหนี้</label>
    <app-signal-datepicker
      [formField]="createForm.invDate"
      id="invoice-date-input"
    />
  </div>
  <div class="app-form-field">
    <label for="invoice-numb-input">เลขที่ใบแจ้งหนี้</label>
    <input
      type="text"
      [formField]="createForm.invNumb"
      id="invoice-numb-input"
    />
  </div>
  <div class="app-form-field">
    <label for="total-income">รายได้ตามรอบบัญชี</label>
    <input [ngModel]="totalIncome()" name="total-income" readonly />
  </div>
  <div class="app-form-field">
    <label for="remain-income">รายได้ตามรอบบัญชีคงเหลือ</label>
    <input type="number" [formField]="createForm.remainingIncome" />
  </div>
  <div class="app-form-field">
    <label for="invoice-amount-input">ยอดใบแจ้งหนี้</label>
    <input
      type="text"
      [formField]="createForm.invAmount"
      id="invoice-amount-input"
      inputmode="numeric"
    />
  </div>
  <div class="app-form-field">
    <label for="invoice-remark-text">หมายเหตุ</label>
    <textarea
      type="text"
      [formField]="createForm.invRemark"
      id="invoice-remark-text"
    ></textarea>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary w-100"
    [disabled]="cannotSubmit()"
    (click)="onSubmit()"
  >
    บันทึก
  </button>
</div>
