<div class="d-flex justify-content-between align-items-end mb-3">
  <div class="flex-grow-1 d-flex gap-3">
    @if (showThreshold()) {
      <div>
        <div class="form-field">
          <label [htmlFor]="form().thresholdValue().name()" class="form-label">{{
            thresholdType() | promotionThreshold
          }}</label>
          <input
            class="form-control"
            type="number"
            [formField]="form().thresholdValue"
          />
          <app-form-alert-text [formState]="form().thresholdValue()" />
        </div>
      </div>
    }
    @if (showReward()) {
      <div>
        <div class="form-field">
          <label [htmlFor]="form().rewardValue().name()" class="form-label">{{
            action() | promotionBenefitName
          }}</label>
          <input
            class="form-control"
            type="number"
            [formField]="form().rewardValue"
          />
          <app-form-alert-text [formState]="form().rewardValue()" />
        </div>
      </div>
    }
  </div>
  <!--action btn-->
  @if (canDelete()) {
    <span>
      <button class="btn btn-danger btn-squre" (click)="onDeleteTier()">
        <i class="bi bi-x"></i>
      </button>
    </span>
  }
</div>
