<div class="mb-3">
  @let incomes = incomeList();
  <div class="row" style="justify-content: space-between">
    <h2 class="col-auto">รายการรับรู้รายเดือน</h2>
    @if (canEdit()) {
    <div class="col-auto">
      <button class="btn btn-primary" (click)="openModal(monthlyModal)">
        เพิ่มรายได้รายเดือน
      </button>
    </div>
    }
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>งวด</th>
        <th>ยอดคำนวน</th>
        <th>ยอดจริง</th>
        <th>ส่วนต่าง</th>
        <th>สาเหตุ</th>
        <th>รายได้</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (income of incomes; track income.id) {
      <tr>
        <td>{{ formatMonth(income.createDate) }}</td>
        <td>{{ income.calAmount | number : "1.2-2" }}</td>
        <td>{{ income.actualAmount | number : "1.2-2" }}</td>
        <td>
          {{ income.calAmount - income.actualAmount | number : "1.2-2" }}
        </td>
        <td>{{ income.reason }}</td>
        <td>{{ income.incomeAmount | number : "1.2-2" }}</td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(income.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #monthlyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">รับรู้รายเดือน</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-month-select
      [month]="date().month"
      (monthChange)="onMonthChange($event)"
    />
    <app-year-select [year]="date().year" (yearChange)="onYearChange($event)" />
    <div class="mb-3">
      <button class="btn btn-info w-100" (click)="onSearch()">คำนวน</button>
    </div>
    <div style="max-width: 100%; overflow-x: auto">
      <table class="table">
        <thead>
          <tr>
            <td>rece</td>
            <td>ยอดคำนวน</td>
          </tr>
        </thead>
        <tbody>
          @for (inc of calIncome(); track $index) {
          <tr>
            <td>{{ inc.receNumb }}</td>
            <td>{{ inc.calAmount | number : "1.2-2" }}</td>
          </tr>
          }
          <tr>
            <td>รวม</td>
            <td>{{ summary() | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="app-form-field-inline" style="justify-content: space-between">
      <div>
        <label for="actual">ยอดจริง</label>
      </div>
      <div>
        <input type="number" id="actual" [(ngModel)]="actualAmount" />
      </div>
    </div>
    <div class="app-form-field-inline" style="justify-content: space-between">
      <div>
        <label for="reason">เหตุผล</label>
      </div>
      <div>
        <input type="text" id="reason" [(ngModel)]="reason" />
      </div>
    </div>
    <div class="app-form-field-inline" style="justify-content: space-between">
      <div>
        <label for="income">ประมาณการรายได้</label>
      </div>
      <div>
        <input type="number" id="income" disabled [ngModel]="incomeAmount()" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary w-100" (click)="onSubmit()">บันทึก</button>
  </div>
</ng-template>
