<div class="row">
  <h2 class="col">แก้ไข</h2>
  <div class="col-auto">
    <a routerLink="../" class="btn btn-squre btn-info">
      <i class="bi bi-eye"></i>
    </a>
  </div>
</div>

<div
  style="
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
  "
>
  <!--head-->
  <form [formGroup]="headForm">
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="doorname">ชื่อประตู</label>
          <input
            type="text"
            name="doorname"
            id="doorname"
            formControlName="doorname"
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="timeUse">ระยะเวลา (ต่อรอบ)</label>
          <input
            type="number"
            step="5"
            min="0"
            id="timeUse"
            name="timeUse"
            formControlName="timeUse"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="minBox">จำนวนลังขั้นต่ำ ต่อ slot </label>
          <input
            type="number"
            name="minBox"
            id="minBox"
            formControlName="minBox"
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="maxBox">จำนวนลังสูงสุด ต่อ slot</label>
          <input
            type="number"
            id="maxBox"
            name="maxBox"
            formControlName="maxBox"
          />
        </div>
      </div>
    </div>
    <div class="app-form-field">
      <label for="note">หมายเหตุ</label>
      <textarea name="note" id="note" formControlName="note"></textarea>
    </div>
    <div class="row">
      <div class="col">
        <div class="app-form-field">
          <label for="intendant">ชื่อผู้ดูแล</label>
          <input
            type="text"
            name="intendant"
            id="intendant"
            formControlName="intendant"
          />
        </div>
      </div>
      <div class="col">
        <div class="app-form-field">
          <label for="mail">E mail ผู้ดูแล</label>
          <input type="mail" name="mail" id="mail" formControlName="mail" />
        </div>
      </div>
      <div>
        <label class="mb-2">เลือกจำนวนการจอง</label>
        <div>
          <div class="app-form-check">
            <input
              type="radio"
              id="single-reserve"
              [value]="false"
              formControlName="multiple"
            />
            <label for="single-reserve">จองได้ 1 ช่วงเวลา</label>
          </div>
          <div class="app-form-check">
            <input
              type="radio"
              id="multiple-reserve"
              [value]="true"
              formControlName="multiple"
            />
            <label for="multiple-reserve">จองหลายช่วงเวลา</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--list-->
  <form
    [formGroup]="slotForm"
    style="
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #f5f5f5;
      padding: 16px;
      margin-bottom: 16px;
    "
  >
    @for (k of dayKey; let i = $index;track i) {
    <form [formArrayName]="k">
      @let cur = slotForm.controls[k];
      <!---->
      @if (cur.length === 0) {
      <div class="row">
        <div class="col-auto" style="width: 120px">{{ getDayOfWeek(k) }}</div>
        <div class="col">
          <input
            type="text"
            [attr.name]="k + '-empty'"
            [attr.id]="k + '-empty'"
            disabled
            class="form-control"
            placeholder="ไม่สามารถจองได้"
          />
        </div>
        <div class="col-auto">
          <div style="padding: 0 12px">
            <button
              class="btn btn-success"
              [disabled]="durationStep() <= 0"
              (click)="openAddModal(k)"
            >
              <i class="bi bi-plus"></i>
            </button>
          </div>
        </div>
      </div>
      } @else {
      <!---->
      <div class="row">
        <div class="col-auto" style="flex: 0 0 120px">
          {{ getDayOfWeek(k) }}
        </div>
        <div class="col">
          @for (d of cur.controls;let j = $index; track j) {
          <!---->
          @let cv = d.getRawValue();
          <div class="row">
            <div class="col">
              <app-timeslot-row
                [range]="{ form: cv.form, to: cv.to }"
                (rangeChange)="patchValueAt(k, j)($event)"
                [id]="cv.id"
                (delete)="deleteSlot(cv.id)"
              />
            </div>
          </div>
          }
          <div class="row justify-content-end" style="padding: 0 12px">
            <div class="col-auto">
              <button class="btn btn-success" (click)="openAddModal(k)">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </form>
    }
  </form>
  <div style="display: flex; gap: 16px">
    <a
      routerLink="../../"
      class="btn btn-outline-danger"
      style="flex: 1 1 auto"
      role="button"
      >ย้อนกลับ</a
    >
    <button
      class="btn btn-success"
      (click)="submitForm()"
      style="flex: 1 1 auto"
    >
      บันทึก
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <app-ibob-add-time-modal
    [day]="currentDay()"
    [last]="last()"
    (close)="modal.dismiss('Cross click')"
    (submit)="onAddSlot($event)"
  />
</ng-template>
