div.good-item {
  padding: 16px;
  .good-lot {
    display: flex;
    gap: 16px;

    .lot-list {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
