@let range = dateRange();
<form class="row row-cols-sm-auto mb-3">
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          name="datepicker"
          class="form-control"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          [autoClose]="'outside'"
          (dateSelect)="onDateSelection($event)"
          [dayTemplate]="t"
          [startDate]="selectedDate()!"
          tabindex="-1"
        />
        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            [class.outside]="isOtherMonth(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input
        disabled
        #dpFromDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpFromDate"
        [value]="thaiDate(range.start)"
      />
      <!-- <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="datepicker.toggle()"
        type="button"
      ></button> -->
    </div>
  </div>
  <div class="col-12">
    <div class="input-group">
      <input
        disabled
        #dpToDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpToDate"
        [value]="thaiDate(range.end)"
      />
      <!-- <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="datepicker.toggle()"
        type="button"
      ></button> -->
    </div>
  </div>
  <button
    class="btn btn-outline-secondary bi bi-calendar3"
    (click)="datepicker.toggle()"
    type="button"
  ></button>
</form>

<div class="calendar">
  <div class="calendar-row">
    <div class="calendar-th" role="columnheader">เวลา</div>
    <div class="calendar-th" role="columnheader">อาทิตย์</div>
    <div class="calendar-th" role="columnheader">จันทร์</div>
    <div class="calendar-th" role="columnheader">อังคาร</div>
    <div class="calendar-th" role="columnheader">พุธ</div>
    <div class="calendar-th" role="columnheader">พฤหัส</div>
    <div class="calendar-th" role="columnheader">ศุกร์</div>
    <div class="calendar-th" role="columnheader">เสาร์</div>
  </div>

  <div class="calendar-row">
    <button class="calendar-cell">
      {{ "a" }}
      <div class="cell-content">
        <div class="cell-label">8:00</div>
      </div>
    </button>
    @for (d of week; let i = $index; track i) {
    <app-calendar-cell [date]="d" [month]="d.month" />
    }
  </div>
</div>
