@let cal = calendar();
<div class="calendar-header">
  <button class="btn" (click)="toPrevMonth()">
    <i class="bi bi-chevron-left"> </i>
  </button>
  <div class="calendar-header-label">label</div>
  <div class="calendar-header-month">
    <div>{{ month() }}</div>
    <div>{{ year() }}</div>
  </div>
  <button class="btn" (click)="toNextMonth()">
    <i class="bi bi-chevron-right"></i>
  </button>
</div>
<div class="calendar">
  <div class="calendar-row">
    <div class="calendar-th" role="columnheader">อาทิตย์</div>
    <div class="calendar-th" role="columnheader">จันทร์</div>
    <div class="calendar-th" role="columnheader">อังคาร</div>
    <div class="calendar-th" role="columnheader">พุธ</div>
    <div class="calendar-th" role="columnheader">พฤหัส</div>
    <div class="calendar-th" role="columnheader">ศุกร์</div>
    <div class="calendar-th" role="columnheader">เสาร์</div>
  </div>
  @for (week of cal; let i = $index; track i) {
  <div class="calendar-row">
    @for (d of week; let j = $index; track j) {
    <app-calendar-cell
      [isoDate]="formatIso(d)"
      [month]="month()"
      [color]="(i + j) % 3"
    />
    }
  </div>
  }
</div>

<ng-template #monthly1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ month1Header() }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    @for (item of month1List(); track $index) {
    <div>
      <div class="indicator bg-color-green"></div>
      <div>ประตู 1</div>
      btn
    </div>
    }
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #monthly2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            type="button"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
