<h1 class="text-center">{{ pageLabel() }}</h1>
<ul class="option-list">
  @for (item of option(); track $index) {
  <li
    class="otption-item rounded border p-3"
    tabindex="0"
    (click)="radio.click()"
  >
    <div class="form-check">
      <input
        #radio
        class="form-check-input"
        type="radio"
        name="gate"
        [attr.id]="item.id + '-radio'"
        [value]="item.id"
        [(ngModel)]="activeOption"
      />
      <label class="form-check-label" [attr.for]="item.id + '-radio'">
        {{ item.label }}
      </label>
    </div>
    <span>{{ item.description }}</span>
    <div style="display: flex; align-items: center">
      <i class="bi bi-alarm me-2"> </i>
      <div>{{ item.duration }} นาที</div>
    </div>
  </li>
  }
</ul>
<div class="calander-warpper mb-3">
  <ngb-datepicker class="custom-dp" [(ngModel)]="model" />
  <div
    style="
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      row-gap: 8px;
      column-gap: 8px;
      width: 344px;
      margin: 0 auto;
    "
  >
    @for (time of timeSlot; track $index) {
    <button
      [className]="btnClass(time)"
      (click)="setActive(time)"
      [disabled]="activeSlot() === time"
    >
      {{ btnSuffix(time) }}
    </button>
    }
  </div>
</div>
<form class="reserve-form p-3 rounded">
  <div class="app-form-field">
    <label for="name">ชื่อบริษัท</label>
    <input type="text" name="name" id="name" disabled />
  </div>
  <div class="app-form-field">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" disabled />
  </div>
  <div class="app-form-field">
    <label for="tel">โทรศัพท์</label>
    <input type="tel" name="tel" id="tel" disabled />
  </div>
  <div>เลขที่ใบสั่งซื้อ (PO)</div>
  <div class="app-form-field">
    <label for="remark">หมายเหตุ</label>
    <textarea name="remark" id="remark" rows="3"></textarea>
  </div>
  <button class="btn btn-success w-100">จอง</button>
</form>
