<div>
  <span>จำกัดระดับสมาชิก</span>
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-all"
      name="member-all"
      type="checkbox"
      [ngModel]="allowAllMembers()"
      (ngModelChange)="onToggleAllMember($event)"
    />
    <label class="form-check-label" for="member-all">สมาชิกทุกระดับ</label>
  </div>
  @let member = members();
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-regular"
      name="member-regular"
      type="checkbox"
      [ngModel]="member[0]"
      (ngModelChange)="onToggleMember($event, 0)"
    />
    <label class="form-check-label" for="member-regular">ลูกค้าทั่วไป</label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-line-crm"
      name="member-line-crm"
      type="checkbox"
      [ngModel]="member[1]"
      (ngModelChange)="onToggleMember($event, 1)"
    />
    <label class="form-check-label" for="member-line-crm">LINE Crm</label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-hu-club"
      name="member-hu-club"
      type="checkbox"
      [ngModel]="allowHugClub()"
      (ngModelChange)="onToggleEveryHugclub($event)"
    />
    <label class="form-check-label" for="member-hu-club">HUG CLUB</label>
  </div>
  <div class="form-check ms-3">
    <input
      class="form-check-input"
      id="member-hu-club-bronze"
      name="member-hu-club-bronze"
      type="checkbox"
      [ngModel]="member[2]"
      (ngModelChange)="onToggleMember($event, 2)"
    />
    <label class="form-check-label" for="member-hu-club-bronze"
      >HUG CLUB Bronze</label
    >
  </div>
  <div class="form-check ms-3">
    <input
      class="form-check-input"
      id="member-hu-club-silver"
      name="member-hu-club-silver"
      type="checkbox"
      [ngModel]="member[3]"
      (ngModelChange)="onToggleMember($event, 3)"
    />
    <label class="form-check-label" for="member-hu-club-silver"
      >HUG CLUB Silver</label
    >
  </div>
  <div class="form-check ms-3">
    <input
      class="form-check-input"
      id="member-hu-club-gold"
      name="member-hu-club-gold"
      type="checkbox"
      [ngModel]="member[4]"
      (ngModelChange)="onToggleMember($event, 4)"
    />
    <label class="form-check-label" for="member-hu-club-gold"
      >HUG CLUB Gold</label
    >
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-old"
      name="member-old"
      type="checkbox"
      [ngModel]="member[5]"
      (ngModelChange)="onToggleMember($event, 5)"
    />
    <label class="form-check-label" for="member-old">สมาชิกเก่า</label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="member-empl"
      name="member-empl"
      type="checkbox"
      [ngModel]="member[6]"
      (ngModelChange)="onToggleMember($event, 6)"
    />
    <label class="form-check-label" for="member-empl">พนักงาน</label>
  </div>
</div>
