:host {
  box-sizing: border-box;
  aspect-ratio: 1;
  background-color: #fff;

  min-width: 350px;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-radius: 1rem;

  &:has(div.header.static) {
    width: 30%;
    padding: 4rem 2rem;
    border-radius: 4rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  img {
    max-width: 300px;
  }
  .header-text {
    position: absolute;
    text-align: center;
    padding: 16px;

    &.long:not(.static) {
      padding: 8px;
    }

    &.static {
      top: 20%;
      max-width: 900px;
      font-size: 64px;

      &.long {
        top: 0;
      }
    }
  }

  &.static img {
    max-width: 1100px;
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  .content-section {
    flex: 1 1 50%;
  }
  img:not(.static) {
    max-width: 150px;
    max-height: 200px;
  }

  &.static img {
    max-width: 590px;
    min-width: 300px;
    max-height: 750px;
  }
}

.price-text {
  height: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  translate: 0 75%;
  &.static {
    font-size: 48px;
    translate: -5% 75%;
  }
}

.goodcode {
  border-bottom: solid #fff 1px;
  background-color: #fff200;
  padding: 4px 4px 0 4px;
  border-radius: 8px 8px 0 0;

  &.static {
    font-size: 24px;
    padding: 8px 8px 0 8px;
    border-radius: 24px 24px 0 0;
  }
}

.text-white {
  color: #fff;
}
