@let prop = cardProp();

<div [className]="headerClass()">
  <div [className]="textClass()">{{ prop.goodName }}</div>
</div>
<div [className]="contentClass()">
  <div class="content-section" style="display: flex; justify-content: center">
    <div>
      <div style="display: flex">
        <div [className]="goodCodeClass()">{{ prop.barCode }}</div>
        <div style="flex: 1 1 auto"></div>
      </div>
      <img [src]="imgUrl()" alt="product image" />
    </div>
  </div>
  <div class="content-section" style="position: relative; align-items: end">
    <div [className]="priceTextClass()">
      {{ prop.flashPrice | number : "1.2-2" }}.-
    </div>
    <img src="/image/FS/price.png" alt="price" style="width: 100%" />
  </div>
</div>
