:host {
  box-sizing: border-box;
  aspect-ratio: 1;
  background-color: #fff;

  min-width: 350px;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;

  &:has(div.header.static) {
    width: 30%;
    border-radius: 4rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00a651;
  margin: 1rem 0;
  padding: 0.5rem;

  &.static {
    padding: 2rem;
    margin: 4rem 0;
  }

  .header-text {
    text-align: center;

    &.long:not(.static) {
    }

    &.static {
      font-size: 5rem;

      &.long {
      }
    }
  }

  &.static img {
    max-width: 1100px;
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin: 0 1rem;

  &.static {
    margin: 0 2rem;
  }

  .content-section {
    flex: 1 1 50%;
  }
  img:not(.static) {
    max-width: 150px;
    max-height: 200px;
  }

  &.static img {
    max-width: 590px;
    max-height: 750px;
  }
}

.price-text {
  height: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  translate: 0 65%;
  &.static {
    font-size: 90px;
    translate: 0 75%;
  }
}

.goodcode {
  border-bottom: solid #fff 1px;
  background-color: #fff200;
  padding: 4px 4px 0 4px;
  border-radius: 8px 8px 0 0;

  &.static {
    font-size: 5rem;
    padding: 0 1rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}

.text-white {
  color: #fff;
}
