@let disableInput = isView();
<section class="layout">
  <button class="btn btn-success" (click)="openModal()">
    {{ btnLabel() }}
  </button>
  <div class="row">
    <div class="col-md mb-3">
      <form class="color-form p-3">
        <div class="row">
          <div class="col">
            <div class="app-form-field">
              <label for="supName">ชื่อซัพ</label>
              <input type="text" name="supName" id="supName" />
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-warning">ค้นหาซัพพลายเออร์</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md mb-3">
      <form class="color-form p-3">
        @if(!disableInput){
        <div class="row">
          <div class="col">
            <div class="app-form-field">
              <label for="goodName">ค้นหาสินค้า</label>
              <input
                type="text"
                name="goodName"
                id="goodName"
                [disabled]="disableInput"
              />
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-warning">ค้นหา</button>
          </div>
        </div>
        }@else {
        <div style="display: flex; flex-direction: column">
          <div>รายชื่อสินค้า</div>
          <div>- product 1</div>
          <div>- product 2</div>
        </div>
        }
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">VAT</div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="vat"
          id="include"
          [value]="true"
          [(ngModel)]="incVat"
          [disabled]="disableInput"
        />
        <label for="include">รวม vat</label>
      </div>
    </div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="vat"
          id="exclude"
          [value]="false"
          [(ngModel)]="incVat"
          [disabled]="disableInput"
        />
        <label for="exclude">ไม่รวม vat</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">ส่วนลด</div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="discount"
          id="discount-true"
          [value]="true"
          [(ngModel)]="discount"
          [disabled]="disableInput"
        />
        <label for="discount-true">หักส่วนลด</label>
      </div>
      @if (discount()) {
      <div class="mb-3">select box form api here</div>
      }
    </div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="discount"
          id="discount-false"
          [value]="false"
          [(ngModel)]="discount"
          [disabled]="disableInput"
        />
        <label for="discount-false">ไม่หักส่วนลด</label>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="period" class="form-label">ระยะเวลาเก็บเงิน</label>
    <select
      name="period"
      id="period"
      class="form-select"
      [(ngModel)]="period"
      [disabled]="disableInput"
    >
      <option [ngValue]="0" disabled>กรุณาเลือก</option>
      <option [ngValue]="1">3 เดือน</option>
      <option [ngValue]="2">6 เดือน</option>
      <option [ngValue]="3">...</option>
      <option [ngValue]="4">...(ii)</option>
    </select>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <div class="form-float">
            <input
              id="form-date"
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #fDate="ngbDatepicker"
              tabindex="-1"
              [ngModel]="fromDate()"
              (ngModelChange)="setFromDate($event)"
              [disabled]="disableInput"
            />
          </div>
        </div>
      </div>
      <div class="input-group">
        <div class="form-floating">
          <input
            #dpFromDate
            class="form-control"
            [value]="thaiDate(fromDate())"
            name="dpFromDate"
            [disabled]="disableInput"
          />
          <label for="form-date" class="form-label">วันที่เริ่ม</label>
        </div>
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="fDate.toggle()"
          type="button"
          [disabled]="disableInput"
        ></button>
      </div>
    </div>
    <div class="col">
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <div class="form-float">
            <input
              id="to-date"
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #tDate="ngbDatepicker"
              tabindex="-1"
              [(ngModel)]="toDate"
              [disabled]="disableInput"
            />
          </div>
        </div>
      </div>
      <div class="input-group">
        <div class="form-floating">
          <input
            #dpToDate
            class="form-control"
            [value]="thaiDate(toDate())"
            name="dpToDate"
            [disabled]="disableInput"
          />
        </div>
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="tDate.toggle()"
          type="button"
          [disabled]="disableInput"
        ></button>
      </div>
    </div>
  </div>
  <div>
    <div class="mb-3">
      <label class="form-label" for="target">target</label>
      <select
        class="form-select"
        name="target"
        id="target"
        [(ngModel)]="target"
        [disabled]="disableInput"
      >
        <option [ngValue]="0" disabled>กรุณาเลือก</option>
        <option [ngValue]="1">flat</option>
        <option [value]="2">step</option>
      </select>
    </div>
    @if (target() === 1) {
    <div class="app-form-field">
      <label for="percent">ระบุ %</label>
      <input
        type="number"
        name="percent"
        id="percent"
        [(ngModel)]="percent"
        [disabled]="disableInput"
      />
    </div>
    }
    <!---->
    @if (target() === 2 ) {
    <!---->
    @for (s of step(); track $index) {
    <div>
      <div class="app-form-field">
        <input
          type="number"
          [ngModel]="s.start"
          (ngModelChange)="changeStart($index)($event)"
        />
      </div>
      <div class="app-form-field">
        <input
          type="number"
          [ngModel]="s.percent"
          (ngModelChange)="changePercent($index)"
        />
      </div>
    </div>
    } }
  </div>
  <div class="row">
    <div class="col-md-3">อัตราจ่ายไม่เกินกำหนด</div>
    <div class="col-md">
      <div class="app-form-check">
        <input
          type="radio"
          name="limit"
          id="limit-true"
          [value]="true"
          [ngModel]="limit()"
          (ngModelChange)="toggleLimit($event)"
          [disabled]="disableInput"
        />
        <label for="limit-true">กำหนด</label>
      </div>
      @if (limit()) {
      <div class="app-form-field">
        <label for="limit-amount" style="display: none"></label>
        <input
          type="number"
          name="limit-amount"
          id="limit-amount"
          [(ngModel)]="limitAmount"
          [disabled]="disableInput"
        />
      </div>
      }
    </div>
    <div class="col-md">
      <div class="app-form-check">
        <label for="limit-false">ไม่กำหนด</label>
        <input
          type="radio"
          name="limit"
          id="limit-false"
          [value]="false"
          [ngModel]="limit()"
          (ngModelChange)="toggleLimit($event)"
          [disabled]="disableInput"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="gap: 1rem">
    <button class="btn btn-success">
      <i class="bi bi-floppy"></i>
      <span> บันทึก </span>
    </button>
    <a routerLink="/other-income/purchase" class="btn btn-outline-danger"
      >ย้อนกลับ</a
    >
  </div>
</section>
