<div [className]="mainClass()" style="padding: 0">
  @if (bgUrl()) {
    <img [src]="bgUrl()" alt="flash sale background" class="bg-image" />
  }
  <div [className]="fsHeadClass()">
    <div [className]="plainTextClass()">{{ dayActive() }}</div>
    <div [className]="headClass()">
      <div [className]="dayTextClass()">{{ dayActive() }}</div>
      <img [src]="'/image/FS/number/' + dayImg() + '.png'" alt="" />
    </div>
  </div>

  <div [className]="fsLayoutClass()">
    @for (item of items(); track $index) {
      <app-flash-sale-card [cardProp]="item" [isStatic]="isStatic()" />
    }
  </div>
</div>
