<!--@let formTree = form();-->
<div class="modal-header">
  <h4 class="modal-title">เพิ่มใบเสร็จ</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal.emit()"
  ></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label [htmlFor]="createForm.receDate().name()" class="form-label"
      >วันที่ใบแจ้งหนี้</label
    >
    <app-signal-datepicker [formField]="createForm.receDate" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.receNumb()">เลขที่ใบแจ้งหนี้</label>
    <input type="text" [formField]="createForm.receNumb" />
  </div>
  <div class="app-form-field">
    <label for="total-inv">ยอดใบแจ้งหนี้ทั้งหมด</label>
    <input readonly [ngModel]="totalInvoice()" />
  </div>
  <div class="app-form-field">
    <label for="remain-inv">ยอดใบแจ้งหนี้คงเหลือ</label>
    <input readonly [ngModel]="remainingInvoice()" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.receAmount()">ยอดใบแจ้งหนี้</label>
    <input type="text" [formField]="createForm.receAmount" />
  </div>
  <div class="app-form-field">
    <label [htmlFor]="createForm.receRemark()">หมายเหตุ</label>
    <textarea type="text" [formField]="createForm.receRemark"></textarea>
  </div>

  <hr />
  <div class="mb-3">
    <label class="form-label" for="search-inv">เลขที่ใบแจ้งหนี้</label>
    <input
      type="text"
      class="form-control"
      [ngbTypeahead]="searchInvoice"
      [resultFormatter]="formatInvoice"
      [inputFormatter]="formatInvoice"
      (selectItem)="onSelectInvoice($event)"
    />
  </div>
  @for (matchForm of createForm.matches; track $index) {
    <div class="row">
      <div class="app-form-field col-4">
        <label class="form-label" [htmlFor]="matchForm.invoice().name()"
          >เลขที่ใบแจ้งหนี้</label
        >
        <input
          type="text"
          class="form-control"
          [ngModel]="matchForm.invoice().value().invNumb"
          [readOnly]="true"
        />
        @if (matchForm.invoice().touched() || matchForm.invoice().dirty()) {
          @for (error of matchForm.invoice().errors(); track $index) {
            <span class="text-danger">{{ error.message }}</span>
          }
        }
      </div>
      <div class="app-form-field col-4">
        <label [htmlFor]="matchForm.matchAmount().name()" class="form-label"
          >ยอด</label
        >
        <input
          class="form-control"
          type="text"
          inputMode="numberic"
          [formField]="matchForm.matchAmount"
        />
        @for (error of matchForm.matchAmount().errors(); track $index) {
          <span class="invalid-feedback">{{ error.message }}</span>
        }
      </div>
    </div>
  }
  <app-form-error-text [formState]="createForm.matches()" />
</div>
<div class="modal-footer">
  <button class="btn btn-primary w-100" [disabled]="createForm().invalid()">
    บันทึก
  </button>
</div>
