/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font-family-sans-serif: "Kanit", system-ui, -apple-system, "Segoe UI",
  "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --color-yellow: #fffbc7;
  --color-red: #e50020;
  --brand-purple-300: #c8adff;
  --brand-purple-500: #994bff;
  --brand-purple-700: #851bed;
  --brand-purple-primary: #a33bf8;
  --brand-green-300: #69ff6f;
  --brand-green-500: #04f200;
  --brand-green-800: #007203;
  --brand-green-primary: #00a59b;

  --a4-width-150: 1240px;
  --a4-height-150: 1754px;

  --a4-width-300: 2480px;
  --a4-height-300: 3508px;

  .a4-width {
    width: 210mm;
  }

  .a4 {
    width: 210mm;
    height: 297mm;
  }
}

.app-form-field {
  @extend .mb-3;
  label {
    @extend .form-label;
  }
  input,
  textarea {
    @extend .form-control;
  }
}

.app-form-field-inline {
  @extend .row, .g-3, .align-items-center, .mb-3;
  > div {
    @extend .col-auto;
    > label {
      @extend .col-form-label;
    }
    > input {
      @extend .form-control;
    }
  }
}

.app-form-check {
  @extend .mb-3;
  @extend .form-check;
  input {
    @extend .form-check-input;
  }
  label {
    @extend .form-check-label;
  }
}
.btn-wrapper {
  display: flex;
  gap: 16px;
  .btn {
    flex: 1 1 auto;
  }
}
