<div>
  <div class="row">
    <div class="col">datepicker here</div>
    <div class="col">datepicker here</div>
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="search-field-select">ค้นหาการจองจาก</label>
      <select
        name="search-field-select"
        id="search-field-select"
        [ngModel]="currentOption()"
        (ngModelChange)="onCurrentOptionChange($event)"
        class="form-select"
      >
        <option [ngValue]="0" disabled>กรุณาเลือก</option>
        @for (item of selectOption(); track $index) {
        <option [ngValue]="item.id">{{ item.label }}</option>
        }
      </select>
    </div>
  </div>
  @if (currentOption() !== 0) {
  <div class="app-form-field">
    @let id=inputId();

    <label [attr.for]="id">{{ inputLabel() }}</label>

    <input type="text" name="search-field" [id]="id" />
  </div>
  }
</div>
