<form [formGroup]="stepTwoForm">
  <div class="app-form-field">
    <label for="compName2">ชื่อบริษัท (ภาษาอังกฤษ)</label>
    <input
      type="text"
      id="compName2"
      name="compName2"
      formControlName="compName2"
    />
  </div>
  <div class="app-form-field">
    <label for="compName">ชื่อบริษัท (ภาษาไทย)</label>
    <input
      type="text"
      id="compName"
      name="compName"
      formControlName="compName"
    />
  </div>
  <div class="app-form-field">
    <label for="compAddr">ที่อยู่</label>
    <textarea
      name="compAddr"
      id="compAddr"
      rows="3"
      formControlName="compAddr"
    ></textarea>
  </div>
  @let contactForm = stepTwoForm.controls.contact.controls;
  <!---->
  @for (c of contactForm; track $index) {

  <div class="row align-items-end">
    <div class="app-form-field col">
      <label [attr.for]="$index + 'compPhone'">โทรศัพท์</label>
      <input
        type="tel"
        name="compPhone"
        [attr.id]="$index + 'compPhone'"
        [formControl]="c.controls.compPhone"
      />
    </div>
    <div class="app-form-field col">
      <label [attr.for]="$index + 'name'">ชื่อ</label>
      <input
        type="text"
        name="name"
        [attr.id]="$index + 'name'"
        [formControl]="c.controls.name"
      />
    </div>
    <div class="col-2 d-flex justify-content-between mb-3">
      @if(contactForm.length !== 1) {
      <button class="btn btn-squre btn-danger" (click)="removeContact($index)">
        <i class="bi bi-dash"></i>
      </button>
      }
      <!---->
      @if ($index === contactForm.length-1) {
      <button class="btn btn-squre btn-success" (click)="addContact()">
        <i class="bi bi-plus"></i>
      </button>
      }
      <!---->
    </div>
  </div>
  }
  <div class="app-form-field">
    <label for="compFax">โทรสาร</label>
    <input type="text" name="compFax" id="compFax" formControlName="compFax" />
  </div>
  <div class="app-form-field">
    <label for="compEmail">E-mail</label>
    <input
      type="email"
      name="compEmail"
      id="compEmail"
      formControlName="compEmail"
      autocomplete="compEmail"
    />
  </div>
</form>
