<div>
  @let data = formState();
  <div class="row">
    <div class="app-form-field col-md">
      <label for="compName">ชื่อบริษัท (ภาษาอังกฤษ)</label>
      <input
        type="text"
        id="compName"
        name="compName"
        [ngModel]="data.compName"
        (ngModelChange)="updator('compName')($event)"
      />
    </div>
    <div class="app-form-field col-md">
      <label for="compName2">ชื่อบริษัท (ภาษาไทย)</label>
      <input
        type="text"
        id="compName2"
        name="compName2"
        [ngModel]="data.compName2"
        (ngModelChange)="updator('compName2')($event)"
      />
    </div>
  </div>
  <div class="app-form-field">
    <label for="compAddr">ที่อยู่</label>
    <textarea
      name="compAddr"
      id="compAddr"
      rows="3"
      [ngModel]="data.compAddr"
      (ngModelChange)="updator('compAddr')($event)"
    ></textarea>
  </div>
  <div class="row">
    <div class="app-form-field col-md">
      <label for="compPhone">โทรศัพท์</label>
      <input
        type="tel"
        name="compPhone"
        id="compPhone"
        [ngModel]="data.compPhone"
        (ngModelChange)="updator('compPhone')($event)"
      />
    </div>
    <div class="app-form-field col-md">
      <label for="compFax">โทรสาร</label>
      <input
        type="text"
        name="compFax"
        id="compFax"
        [ngModel]="data.compFax"
        (ngModelChange)="updator('compFax')($event)"
      />
    </div>
    <div class="app-form-field col-md">
      <label for="compEmail">E-mail</label>
      <input
        type="email"
        name="compEmail"
        id="compEmail"
        [ngModel]="data.compEmail"
        (ngModelChange)="updator('compEmail')($event)"
      />
    </div>
  </div>
  @let contactForm = emplList();
  <!---->
  <h5>sale</h5>
  @for (c of contactForm; track $index) {
  <div class="row align-items-end px-3 px-sm-0">
    <div class="app-form-field col-sm">
      <label [attr.for]="$index + 'emplName'">ชื่อ</label>
      <input
        type="text"
        name="emplName"
        [attr.id]="$index + 'emplName'"
        [ngModel]="c.emplName"
        (ngModelChange)="updateEmplName($event, $index)"
      />
    </div>
    <div class="app-form-field col-sm">
      <label [attr.for]="$index + 'emplPhone'">โทรศัพท์</label>
      <input
        type="tel"
        name="emplPhone"
        [attr.id]="$index + 'emplPhone'"
        [ngModel]="c.emplPhone"
        (ngModelChange)="updateEmplPhone($event, $index)"
      />
    </div>
    <div class="app-form-field col-sm">
      <label [attr.for]="$index + 'emplEmail'">Email</label>
      <input
        type="email"
        name="emplEmail"
        [attr.id]="$index + 'emplEmail'"
        [ngModel]="c.emplEmail"
        (ngModelChange)="updateEmplEmail($event, $index)"
      />
    </div>
    <div class="col-2 d-flex justify-content-between mb-3">
      @if(contactForm.length !== 1) {
      <button class="btn btn-squre btn-danger" (click)="removeContact($index)">
        <i class="bi bi-dash"></i>
      </button>
      }
      <!---->
      @if ($index === contactForm.length-1) {
      <button class="btn btn-squre btn-success" (click)="addContact()">
        <i class="bi bi-plus"></i>
      </button>
      }
      <!---->
    </div>
  </div>
  }
</div>
