@let inactive = disable();
<!---->
<h2>เพิ่มประตู</h2>
<div
  style="
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
  "
>
  <div class="row">
    <div class="col">
      <div class="app-form-field">
        <label for="name">ชื่อประตู</label>
        <input type="text" name="name" id="name" [disabled]="inactive" />
      </div>
    </div>
    <div class="col">
      <div class="app-form-field">
        <label for="duration">ระยะเวลา (ต่อรอบ)</label>
        <input
          type="number"
          step="5"
          id="duration"
          name="duration"
          [(ngModel)]="durationStep"
          [disabled]="inactive"
        />
      </div>
    </div>
  </div>
  <div class="app-form-field">
    <label for="remark">หมายเหตุ</label>
    <textarea name="remark" id="remark" [disabled]="inactive"></textarea>
  </div>
  <div class="row">
    <div class="col">
      <div class="app-form-field">
        <label for="admin">ชื่อผูดูแล</label>
        <input type="text" name="admin" id="admin" [disabled]="inactive" />
      </div>
    </div>
    <div class="col">
      <div class="app-form-field">
        <label for="email">E mail ผู้ดูแล</label>
        <input type="email" name="email" id="email" [disabled]="inactive" />
      </div>
    </div>
  </div>
  <form
    [formGroup]="form"
    style="
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #f5f5f5;
      padding: 16px;
      margin-bottom: 16px;
    "
  >
    @for (k of keys; let i = $index;track i) {
    <form [formArrayName]="k">
      @let cur = form.controls[k];
      <!---->
      @if (cur.length === 0) {
      <div class="row">
        <div class="col-auto" style="width: 120px">{{ getThaiDay(k) }}</div>
        <div class="col">
          <input
            type="text"
            [attr.name]="k + '-empty'"
            [attr.id]="k + '-empty'"
            disabled
            class="form-control"
            placeholder="ไม่สามารถจองได้"
          />
        </div>
        <div class="col-auto" style="flex: 0 0 120px">
          <button class="btn btn-success" (click)="addForm(k)">
            <i class="bi bi-plus"></i>
          </button>
        </div>
      </div>
      } @else {
      <!---->
      <div class="row">
        @for (d of cur.controls;let j = $index; track j) {
        <div class="row align-items-center">
          <div class="col-auto" style="flex: 0 0 120px">
            {{ j === 0 ? getThaiDay(k) : "" }}
          </div>
          <div class="col">
            <ngb-timepicker
              [spinners]="false"
              [readonlyInputs]="inactive"
              [formControl]="d.controls.form"
            ></ngb-timepicker>
          </div>
          <div class="col-auto">ถึง</div>
          <div class="col">
            <ngb-timepicker
              [spinners]="false"
              [readonlyInputs]="inactive"
              [formControl]="d.controls.to"
              [minuteStep]="durationStep()"
            ></ngb-timepicker>
          </div>
          <div
            class="col-auto"
            style="
              flex: 0 0 120px;
              display: flex;
              justify-content: space-between;
            "
          >
            <button class="btn btn-danger" (click)="removeForm(k, j)">
              <i class="bi bi-trash"></i>
            </button>
            @if (j === cur.length-1) {
            <button class="btn btn-success" (click)="addForm(k)">
              <i class="bi bi-plus"></i>
            </button>
            }
          </div>
        </div>
        }
      </div>

      }
    </form>
    }
  </form>
  <div style="display: flex; gap: 16px">
    <a
      routerLink="../"
      class="btn btn-outline-danger"
      style="flex: 1 1 auto"
      role="button"
      >ย้อนกลับ</a
    >
    <button class="btn btn-success" style="flex: 1 1 auto">บันทึก</button>
  </div>
</div>
