<div class="row mb-3 align-items-center">
  <div class="col-auto">
    <label for="mode" class="col-form-label">รูปแบบ</label>
  </div>
  <div class="col-auto">
    <select name="mode" id="mode" class="form-select" [(ngModel)]="mode">
      @for (item of ref; track $index) {
      <option [value]="item.value">{{ item.label }}</option>
      }
    </select>
  </div>
</div>
@if (mode() == 1) {
<app-calendar-monthly />

}
<!---->
@if (mode() == 2) {
<app-calendar-weekly />
}
<!---->
@if (mode() == 3) {
<app-calendar-daily />
}
