<div class="card mb-3">
  <div class="card-body">
    <p class="fw-semibold mb-2 text-muted small">รายละเอียดกิจกรรม</p>
    <div class="app-form-field-inline">
      <div>
        <label [htmlFor]="createForm.displayName().name()"
          >ชื่อรายรับภายใน (ถ้ามี)</label
        >
      </div>
      <div>
        <input type="text" [formField]="createForm.displayName" />
      </div>
    </div>
    <other-income-event-select [form]="createForm.head.event" [eventType]="1" />
    <div class="form-field mb-3">
      <label [htmlFor]="createForm.head.period().name()" class="form-label"
        >ระยะเวลาเก็บเงินเดือน</label
      >
      <app-select [formField]="createForm.head.period">
        <app-option [value]="null">กรุณาเลือก</app-option>
        @for (period of periodList; track period.period) {
          <app-option [value]="period">{{ period.periodName }}</app-option>
        }
      </app-select>
    </div>
    <div class="row">
      <div class="col form-contro mb-3">
        <label [htmlFor]="createForm.head.dateRange.startDate().name()"
          >วันที่เริ่มกิจกรรม</label
        >
        <app-signal-datepicker
          [id]="createForm.head.dateRange.startDate().name()"
          [formField]="createForm.head.dateRange.startDate"
        />
      </div>
      <div class="col form-contro mb-3">
        <label [htmlFor]="createForm.head.dateRange.endDate().name()"
          >วันที่เริ่มกิจกรรม</label
        >
        <app-signal-datepicker
          [id]="createForm.head.dateRange.endDate().name()"
          [formField]="createForm.head.dateRange.endDate"
        />
      </div>
    </div>
  </div>
</div>
<div class="border rounded p-3 mb-3">
  <p class="fw-semibold mb-2 text-muted small">รับรู้รายได้เป็น</p>
  <div class="row row-cols-2 g-2">
    <div class="col">
      <other-income-income-select
        [form]="createForm.incomes.discount"
        [incomeType]="1"
      />
    </div>
    <div class="col">
      <other-income-income-select
        [form]="createForm.incomes.free"
        [incomeType]="2"
      />
    </div>
    <div class="col">
      <other-income-income-select
        [form]="createForm.incomes.invoice"
        [incomeType]="3"
      />
    </div>
    <div class="col">
      <other-income-income-select
        [form]="createForm.incomes.credit"
        [incomeType]="4"
      />
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <p class="fw-semibold mb-3 text-muted small">เลือกบริษัท DN / HU</p>
    <other-income-create-pair-company-picker [formField]="createForm.comps" />
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <p class="fw-semibold mb-3 text-muted small">เลือกสินค้า</p>
    <div class="row">
      @let productList = mergedProduct();
      @if (productList.length !== 0) {
        <div class="d-flex flex-column mb-3">
          @for (product of mergedProduct(); track product.goodCode) {
            <div>
              <span>{{ product.goodName }}</span>
            </div>
          }
        </div>
        <div>
          <button class="btn-success btn w-100">เพิ่มทั้งหมด</button>
        </div>
      } @else {
        <div>ไม่มีสินค้าที่เพิ่มได้</div>
      }
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <p class="fw-semibold mb-2 text-muted small">เงื่อนไขส่วนลด และ VAT</p>
    <div class="form-check">
      <input
        type="checkbox"
        class="me-1 form-check-input"
        [formField]="createForm.notLight.isDc"
      />
      <label
        class="form-check-label"
        [htmlFor]="createForm.notLight.isDc().name()"
        >หักส่วนลด dc</label
      >
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [formField]="createForm.notLight.isRebate"
      />
      <label
        class="form-check-label"
        [htmlFor]="createForm.notLight.isRebate().name()"
        >หักส่วนลด rebate</label
      >
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [formField]="createForm.notLight.isComp"
      />
      <label
        class="form-check-label"
        [htmlFor]="createForm.notLight.isComp().name()"
        >หักส่วนลด compensate</label
      >
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [formField]="createForm.notLight.isInce"
      />
      <label
        class="form-check-label"
        [htmlFor]="createForm.notLight.isInce().name()"
        >หักส่วนลด intensive</label
      >
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [formField]="createForm.notLight.exVat"
      />
      <label
        class="form-check-label"
        [htmlFor]="createForm.notLight.exVat().name()"
        >หัก vat</label
      >
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <p class="fw-semibold mb-2 text-muted small">เงื่อนไขการคำนวณรายได้</p>
    <other-income-step-form [stepForm]="createForm.stepCondition" />
  </div>
</div>
<div>{{ formData() | json }}</div>
