@let products = productList();
<div class="app-form-field">
  <label for="other">สินค้าอื่นๆ</label>
  <input
    type="text"
    id="other"
    name="other"
    [(ngModel)]="search"
    placeholder="ค้นหาจากรหัสสินค้า"
  />
</div>

@if (products.length !== 0) {
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%"></th>
        <th>รหัสและชื่อสินค้า</th>
      </tr>
    </thead>
    <tbody>
      @for (item of products; track $index) {
        <tr>
          <td>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                (input)="addItem(item)"
                [id]="'select-item-' + item.barCode"
              />
            </div>
          </td>
          <td>{{ "(" + item.barCode + ") " + item.goodName }}</td>
        </tr>
      }
    </tbody>
  </table>
}
