<div class="modal-header">
  <h4 class="modal-title">เพิ่ม po</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close.emit()"
  ></button>
</div>
<div class="modal-body" style="max-height: 75vh; overflow-y: auto">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 180px">po</th>
        <th style="width: 180px">ยอด</th>
        <th>
          <button
            class="btn btn-primary"
            [disabled]="invalidOrder()"
            (click)="addOrder()"
          >
            <i class="bi bi-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (selected of selectOrder(); track $index) {
      <tr>
        <th>
          <input
            style="width: 140px"
            type="text"
            [id]="selected.orderNumb + '-actual'"
            [ngModel]="selected.orderNumb"
            (ngModelChange)="updateOrder($index, $event)"
          />
        </th>
        <th>
          <input
            style="width: 140px"
            type="number"
            [id]="selected.orderNumb + '-actual'"
            [ngModel]="selected.actualAmount"
            (ngModelChange)="updateAmount($index, $event)"
          />
        </th>
        <th>
          @if (selectOrder().length -1 === $index) {
          <button class="btn btn-outline-danger" (click)="deleteOrder($index)">
            <i class="bi bi-trash"></i>
          </button>
          }
        </th>
      </tr>
      }
      <tr>
        <td>ยอดคำนวน</td>
        <td>
          {{ sum() | number : "1.2-2" }}/{{ periodAmount() | number : "1.2-2" }}
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary w-100"
    [disabled]="selectOrder().length === 0"
    (click)="onSubmit()"
  >
    บันทึก
  </button>
</div>
